file_type_auto_trans(adbd, system_data_file, adbd_data_file)
allow adbd system_data_file:dir { write remove_name add_name };
allow adbd surfaceflinger:file r_file_perms;
allow adbd surfaceflinger:fifo_file { read write };
allow adbd surfaceflinger:dir search;
allow adbd sf_rtt_file:dir getattr;
allow adbd self:capability2 syslog;
allow adbd self:capability { net_raw ipc_lock dac_override };
allow adbd radio_data_file:file { read open };
allow adbd qemu_pipe_device:chr_file rw_file_perms;
allow adbd platform_app_data_file:file { read create open };
allow adbd platform_app_data_file:dir { write getattr add_name };
allow adbd kernel:process setsched;
allow adbd graphics_device:chr_file { read ioctl open };
allow adbd block_device:dir search;
allow adbd aee_exp_data_file:file r_file_perms;
allow adbd aee_exp_data_file:dir r_dir_perms;
allow adbd adbd_data_file:file { write create unlink open setattr };