type aee_exp_data_file, file_type, data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type;
type aee_core_forwarder_exec, exec_type, file_type;
type aee_core_data_file, file_type, data_file_type;
domain_auto_trans(kernel, aee_core_forwarder_exec, aee_core_forwarder)
allow vold aee_exp_data_file:file { read getattr open };
allow vold aee_exp_data_file:dir { read open getattr search };
allow system_server aee_exp_data_file:file write;
allow system_server aee_dumpsys_data_file:file write;
allow system_server aee_core_data_file:dir r_dir_perms;
allow surfaceflinger aee_exp_data_file:file write;
allow surfaceflinger aee_dumpsys_data_file:file write;
allow shell aee_exp_data_file:file r_file_perms;
allow shell aee_exp_data_file:dir r_dir_perms;
allow shell aee_core_forwarder_exec:file rx_file_perms;
allow platform_app aee_exp_data_file:file r_file_perms;
allow platform_app aee_exp_data_file:dir r_dir_perms;
allow dmlog aee_exp_data_file:file write;
allow dmlog aee_exp_data_file:file getattr;
allow debuggerd aee_exp_data_file:file create_file_perms;
allow debuggerd aee_exp_data_file:dir { relabelto create_dir_perms };
allow debuggerd aee_dumpsys_data_file:file create_file_perms;
allow debuggerd aee_dumpsys_data_file:dir { relabelto create_dir_perms };
allow debuggerd aee_core_data_file:file create_file_perms;
allow debuggerd aee_core_data_file:dir create_dir_perms;
allow aee_core_forwarder aee_exp_data_file:file create_file_perms;
allow aee_core_forwarder aee_exp_data_file:dir create_dir_perms;
allow aee_core_forwarder aee_core_data_file:file create_file_perms;
allow aee_core_forwarder aee_core_data_file:dir relabelto;
allow aee_core_forwarder aee_core_data_file:dir create_dir_perms;
allow adbd aee_exp_data_file:file r_file_perms;
allow adbd aee_exp_data_file:dir r_dir_perms;
