type akmd8963_exec, exec_type, file_type;
type akmd8963_access_file2, file_type, data_file_type;
type akmd8963_access_file1, file_type, data_file_type;
allow shell akmd8963_exec:file rx_file_perms;
allow mxg2320d akmd8963_access_file2:file { open read write };
allow mxg2320d akmd8963_access_file1:file { open read write };
allow akmd8963 akmd8963_access_file2:file { open read write };
allow akmd8963 akmd8963_access_file1:file { open read write };
allow akmd09912 akmd8963_access_file2:file { open read write };
allow akmd09912 akmd8963_access_file1:file { open read write };
allow akmd09911 akmd8963_access_file2:file { open read write };
allow akmd09911 akmd8963_access_file1:file { open read write getattr setattr };
