type akmd09912_exec, exec_type, file_type;
type akmd09912, domain;
init_daemon_domain(akmd09912)
file_type_auto_trans(akmd09912, system_data_file, msensor_data_file)
allow akmd09912 system_data_file:dir { create setattr };
allow akmd09912 msensor_device:chr_file { open ioctl read write };
allow akmd09912 msensor_data_file:file { open write read create setattr };
allow akmd09912 input_device:file { open read };
allow akmd09912 input_device:dir { search open read write };
allow akmd09912 gsensor_device:chr_file { open ioctl read write };
allow akmd09912 akmd8963_access_file2:file { open read write };
allow akmd09912 akmd8963_access_file1:file { open read write };

