allow appdomain teei_fp_device:chr_file rw_file_perms;
allow appdomain teei_client_device:chr_file rw_file_perms;
allow appdomain sw_sync_device:chr_file { read write getattr open ioctl };
allow appdomain surfaceflinger:fifo_file rw_file_perms;
allow appdomain custom_file:file { read open getattr };
allow appdomain custom_file:dir { search getattr open read };