type smart_audio_prop, property_type;
allow untrusted_app smart_audio_prop:file { getattr open read };
allow smart_audio smart_audio_prop:property_service set;