type batterywarning_exec, exec_type, file_type;
type batterywarning, domain;
init_daemon_domain(batterywarning)
binder_use(batterywarning)
allow batterywarning system_server:binder call;
allow batterywarning sysfs:file r_file_perms;
allow batterywarning rootfs:lnk_file { getattr };
allow batterywarning activity_service:service_manager find;

