type BGW, domain;
type BGW_exec, exec_type, file_type;
init_daemon_domain(BGW)
allow BGW stpwmt_device:chr_file { read write open };
allow BGW self:netlink_socket { read bind create write };
allow BGW ccci_device:chr_file { read write open };