allow bluetooth wmt_prop:file { open read getattr };
allow bluetooth sysfs_boot_mode_file:file { open read getattr };
allow bluetooth surfaceflinger:fifo_file { read write };
allow bluetooth stpbt_device:chr_file rw_file_perms;
allow bluetooth rilproxy:unix_stream_socket connectto;
allow bluetooth program_binary_service:service_manager find;
allow bluetooth proc_secmem:file { read open };
allow bluetooth platform_app_tmpfs:file write;
allow bluetooth persist_bt_prop:file { read open getattr };
allow bluetooth nvram_data_file:lnk_file read;
allow bluetooth nvram_data_file:file rw_file_perms;
allow bluetooth nvram_data_file:dir search;
allow bluetooth nvdata_file:file { read write getattr open };
allow bluetooth nvdata_file:dir search;
allow bluetooth mtkrild:unix_stream_socket connectto;
allow bluetooth bt_prop:file { read open getattr };
allow bluetooth block_device:dir search;