allow bootanim terservice_service:service_manager find;
allow bootanim terservice:binder call;
allow bootanim surfaceflinger:fifo_file rw_file_perms;
allow bootanim self:netlink_socket { read bind create write };
allow bootanim rootfs:lnk_file { getattr };
allow bootanim qemu_pipe_device:chr_file rw_file_perms;
allow bootanim property_socket:sock_file write;
allow bootanim proc_secmem:file { read open };
allow bootanim mobicore_lib_file:file { read open getattr };
allow bootanim mediaserver_service:service_manager find;
allow bootanim mediaserver:binder transfer;
allow bootanim mediaserver:binder call;
allow bootanim init:unix_stream_socket connectto;
allow bootanim guiext-server:binder transfer;
allow bootanim debug_prop:property_service set;
allow bootanim custom_file:file read;
allow bootanim custom_file:file open;
allow bootanim custom_file:dir search;
allow bootanim bootani_prop:property_service set;