type cmddumper_exec, exec_type, file_type;
type cmddumper, domain;
init_daemon_domain(cmddumper)
allow cmddumper ttySDIO_device:chr_file { read write ioctl open };
allow cmddumper system_file:file execute_no_trans;
allow cmddumper system_data_file:dir { write create open add_name relabelfrom relabelto };
allow cmddumper shell_exec:file { read execute open execute_no_trans };
allow cmddumper property_socket:sock_file { write read };
allow cmddumper platform_app:unix_stream_socket connectto;
allow cmddumper mdlog_data_file:file create_file_perms;
allow cmddumper mdlog_data_file:fifo_file create_file_perms;
allow cmddumper mdlog_data_file:dir { create_dir_perms relabelto };
allow cmddumper init:unix_stream_socket connectto;
allow cmddumper fuse:file create_file_perms;
allow cmddumper fuse:dir create_dir_perms;
allow cmddumper debug_prop:property_service set;
allow cmddumper debug_mdlogger_prop:property_service set;