type ctl_zpppdgprs_prop, property_type;
type ctl_volte_stack_prop, property_type;
type ctl_viarild_prop, property_type;
type ctl_s62xd_prop, property_type;
type ctl_ril-proxy_prop, property_type;
type ctl_ril-daemon-mtk_prop, property_type;
type ctl_ril-daemon-d_prop, property_type;
type ctl_pppd_via_prop, property_type;
type ctl_mxg2320d_prop, property_type;
type ctl_msensord_prop, property_type;
type ctl_mdlogger_prop, property_type;
type ctl_istd8303_prop, property_type;
type ctl_ipo_swap_prop, property_type;
type ctl_gsm0710muxd_prop, property_type;
type ctl_gsm0710muxd-d_prop, property_type;
type ctl_emdlogger2_prop, property_type;
type ctl_emcsmdlogger_prop, property_type;
type ctl_eemcs_fmdl_prop, property_type;
type ctl_ccci_rpcd_prop, property_type;
type ctl_ccci3_fsd_prop, property_type;
type ctl_ccci2_fsd_prop, property_type;
type ctl_bmm050d_prop, property_type;
type ctl_atci_service_prop, property_type;
type ctl_akmd09912_prop, property_type;
type ctl_akmd09911_prop, property_type;
type ctl_akmd8963_prop, property_type;
type ctl_atcid-daemon-u_prop, property_type;
type ctl_bmm056d_prop, property_type;
type ctl_ccci2_rpcd_prop, property_type;
type ctl_ccci_fsd_prop, property_type;
type ctl_dualmdlogger_prop, property_type;
type ctl_eemcs_fsd_prop, property_type;
type ctl_emdlogger1_prop, property_type;
type ctl_emdlogger3_prop, property_type;
type ctl_geomagneticd_prop, property_type;
type ctl_gsm0710muxd-s_prop, property_type;
type ctl_gsm0710muxdmd2_prop, property_type;
type ctl_ipod_prop, property_type;
type ctl_mbimd_prop, property_type;
type ctl_memsicd3416x_prop, property_type;
type ctl_muxreport-daemon_prop, property_type;
type ctl_orientationd_prop, property_type;
type ctl_rbfota_prop, property_type;
type ctl_ril-daemon-md2_prop, property_type;
type ctl_ril-daemon-s_prop, property_type;
type ctl_ril3gd_prop, property_type;
type ctl_st480_prop, property_type;
type ctl_volte_imcb_prop, property_type;
type ctl_volte_ua_prop, property_type;
allow zpppd_gprs ctl_zpppdgprs_prop:property_service set;
allow volte_imsm_md ctl_volte_ua_prop:property_service set;
allow volte_imsm_md ctl_volte_stack_prop:property_service set;
allow volte_imsm_md ctl_volte_imcb_prop:property_service set;
allow usbdongled ctl_ril3gd_prop:property_service set;
allow system_server ctl_ipod_prop:property_service set;
allow system_app ctl_rbfota_prop:property_service set;
allow statusd ctl_pppd_via_prop:property_service set;
allow ril-3gddaemon ctl_zpppdgprs_prop:property_service set;
allow radio ctl_mbimd_prop:property_service set;
allow radio ctl_atcid-daemon-u_prop:property_service set;
allow radio ctl_atci_service_prop:property_service set;
allow mtkrildmd2 ctl_muxreport-daemon_prop:property_service set;
allow mtkrild ctl_muxreport-daemon_prop:property_service set;
allow mtkmal ctl_volte_ua_prop:property_service set;
allow mtkmal ctl_volte_stack_prop:property_service set;
allow mtkmal ctl_volte_imcb_prop:property_service set;
allow msensord ctl_st480_prop:property_service set;
allow msensord ctl_s62xd_prop:property_service set;
allow msensord ctl_orientationd_prop:property_service set;
allow msensord ctl_mxg2320d_prop:property_service set;
allow msensord ctl_msensord_prop:property_service set;
allow msensord ctl_memsicd3416x_prop:property_service set;
allow msensord ctl_istd8303_prop:property_service set;
allow msensord ctl_geomagneticd_prop:property_service set;
allow msensord ctl_bmm056d_prop:property_service set;
allow msensord ctl_bmm050d_prop:property_service set;
allow msensord ctl_akmd8963_prop:property_service set;
allow msensord ctl_akmd09912_prop:property_service set;
allow msensord ctl_akmd09911_prop:property_service set;
allow ipod ctl_ipod_prop:property_service set;
allow ipod ctl_ipo_swap_prop:property_service set;
allow gsm0710muxdmd2 ctl_ril-daemon-md2_prop:property_service set;
allow gsm0710muxdmd2 ctl_muxreport-daemon_prop:property_service set;
allow gsm0710muxd ctl_ril-daemon-mtk_prop:property_service set;
allow eemcs_mdinit { ctl_rildaemon_prop ctl_ril-daemon-s_prop ctl_ril-daemon-d_prop ctl_ril-daemon-mtk_prop }:property_service set;
allow eemcs_mdinit { ctl_gsm0710muxd_prop ctl_gsm0710muxd-s_prop ctl_gsm0710muxd-d_prop }:property_service set;
allow eemcs_mdinit { ctl_emcsmdlogger_prop ctl_eemcs_fmdl_prop }:property_service set;
allow eemcs_mdinit ctl_eemcs_fsd_prop:property_service set;
allow ccci_mdinit { ctl_rildaemon_prop ctl_ril-daemon-mtk_prop ctl_ril-daemon-s_prop ctl_ril-daemon-d_prop ctl_ril-daemon-md2_prop ctl_ril-proxy_prop }:property_service set;
allow ccci_mdinit { ctl_mdlogger_prop ctl_emdlogger1_prop ctl_emdlogger2_prop ctl_emdlogger3_prop ctl_dualmdlogger_prop }:property_service set;
allow ccci_mdinit { ctl_gsm0710muxd_prop ctl_gsm0710muxd-s_prop ctl_gsm0710muxd-d_prop ctl_gsm0710muxdmd2_prop }:property_service set;
allow ccci_mdinit { ctl_ccci_rpcd_prop ctl_ccci2_rpcd_prop }:property_service set;
allow ccci_mdinit { ctl_ccci_fsd_prop ctl_ccci2_fsd_prop ctl_ccci3_fsd_prop }:property_service set;
allow ccci_mdinit ctl_viarild_prop:property_service set;
allow ccci_mdinit ctl_mdlogger_prop:property_service set;
allow ccci_mdinit ctl_gsm0710muxd_prop:property_service set;
allow atcp ctl_volte_ua_prop:property_service set;
allow atcp ctl_volte_stack_prop:property_service set;
allow atcp ctl_volte_imcb_prop:property_service set;
allow atcp ctl_ril-daemon-mtk_prop:property_service set;
allow atcp ctl_muxreport-daemon_prop:property_service set;