type debug_netlog_prop, property_type;
type debug_mtk_aee_prop, property_type;
type debug_bq_dump_prop, property_type;
type debug_mdlogger_prop, property_type;
type debug_mtklog_prop, property_type;
allow untrusted_app debug_netlog_prop:file { open read getattr };
allow untrusted_app debug_mtklog_prop:file { read open getattr };
allow untrusted_app debug_mtk_aee_prop:file { read open getattr };
allow untrusted_app debug_mdlogger_prop:file { read open getattr };
allow untrusted_app debug_bq_dump_prop:file { open read getattr };
allow netdiag debug_netlog_prop:property_service set;
allow netdiag debug_mtklog_prop:property_service set;
allow mdlogger debug_mdlogger_prop:property_service set;
allow md_monitor debug_mdlogger_prop:property_service set;
allow emdlogger debug_mdlogger_prop:property_service set;
allow debuggerd debug_mtk_aee_prop:property_service set;
allow debuggerd debug_bq_dump_prop:property_service set;
allow cmddumper debug_mdlogger_prop:property_service set;
allow atcp debug_netlog_prop:property_service set;
allow atcp debug_mtklog_prop:property_service set;
allow atcp debug_mdlogger_prop:property_service set;