type devmap_device, dev_type;
allow zygote devmap_device:chr_file { read ioctl open };
allow vtservice devmap_device:chr_file read;
allow vtservice devmap_device:chr_file open;
allow vtservice devmap_device:chr_file ioctl;
allow viarild devmap_device:chr_file { read ioctl open };
allow system_server devmap_device:chr_file r_file_perms;
allow system_app devmap_device:chr_file { read ioctl open };
allow mtkrildmd2 devmap_device:chr_file { read ioctl open };
allow mtkrild devmap_device:chr_file { read ioctl open };
allow meta_tst devmap_device:chr_file { open read write ioctl };
allow mediaserver devmap_device:chr_file { read open };
allow mediaserver devmap_device:chr_file { ioctl };
allow hotknot_native devmap_device:chr_file { read ioctl open };
allow factory devmap_device:chr_file { read ioctl open };
allow ccci_mdinit devmap_device:chr_file { read ioctl open };
allow cameraserver devmap_device:chr_file { read write open ioctl };
allow atcp devmap_device:chr_file { read ioctl open };
allow atci_service devmap_device:chr_file { open read write ioctl };
