allow dex2oat platform_app_tmpfs:file write;
allow dex2oat platform_app:fd use;
allow dex2oat dex2oat_exec:file x_file_perms;
allow dex2oat custom_file:file { getattr read open };
allow dex2oat custom_file:dir { search getattr };