allow dhcp untrusted_app:fd use;
allow dhcp platform_app_tmpfs:file write;
allow dhcp platform_app:fd use;
allow dhcp kernel:system module_request;
allow dhcp init:unix_stream_socket { read write };
allow dhcp init:fifo_file { read write };
allow dhcp devpts:chr_file { read write ioctl };

