type disableswap_exec, exec_type, file_type;
type disableswap, domain;
init_daemon_domain(disableswap)
allow disableswap system_file:file execute_no_trans;
allow disableswap system_data_file:dir { write };
allow disableswap sysfs:file write;
allow disableswap shell_exec:file { entrypoint read };
allow disableswap self:capability sys_admin;
allow disableswap enableswap_data_file:file { open write read };
allow disableswap block_device:dir search;

