type dm_agent_binder_service, service_manager_type;
allow system_server dm_agent_binder_service:service_manager find;
allow radio dm_agent_binder_service:service_manager find;
allow platform_app dm_agent_binder_service:service_manager find;
allow dm_agent_binder dm_agent_binder_service:service_manager add;