allow domain storage_file:dir search;
allow domain log_device:dir search;
allow domain log_device:chr_file { open write };
allow domain goodixfingerprintd_device:chr_file rw_file_perms;
allow domain exm0_device:chr_file { read write ioctl open };