use_drmservice(system_server)
allow system_server drmserver:drmservice openDecryptSession;
allow drmserver vfat:file open;
allow drmserver untrusted_app:file { read open getattr };
allow drmserver untrusted_app:dir search;
allow drmserver system_server:file getattr;
allow drmserver system_app_data_file:file read;
allow drmserver system_app:process getattr;
allow drmserver system_app:file { read open getattr };
allow drmserver system_app:dir search;
allow drmserver surfaceflinger:fd use;
allow drmserver storage_file:lnk_file read;
allow drmserver sdcard_internal:file open;
allow drmserver radio_data_file:file { read getattr open };
allow drmserver radio_data_file:dir search;
allow drmserver property_socket:sock_file write;
allow drmserver proc_secmem:file { read write ioctl open };
allow drmserver platform_app_tmpfs:file write;
allow drmserver platform_app:file { read getattr open };
allow drmserver platform_app:dir search;
allow drmserver persist_data_file:file { read getattr open };
allow drmserver persist_data_file:dir search;
allow drmserver nvram_agent_service:service_manager find;
allow drmserver nvram_agent_binder:binder call;
allow drmserver nfc:file { read getattr open };
allow drmserver nfc:dir search;
allow drmserver mobicore_user_device:chr_file { read write ioctl open };
allow drmserver mobicore_data_file:file { read getattr open lock };
allow drmserver mobicore_data_file:dir search;
allow drmserver mobicore:unix_stream_socket connectto;
allow drmserver mnt_user_file:lnk_file read;
allow drmserver mnt_user_file:dir search;
allow drmserver mnt_media_rw_file:dir search;
allow drmserver mediaserver:file { read open getattr };
allow drmserver mediaserver:fifo_file write;
allow drmserver mediaserver:fifo_file read;
allow drmserver mediaserver:dir search;
allow drmserver app_data_file:file open;
allow drmserver app_data_file:dir search;

