allow dumpstate ppl_agent:binder call;
allow dumpstate nvram_agent_binder:binder call;
allow dumpstate dontpanic_data_file:dir search;
allow dumpstate MtkCodecService:binder call;
allow dumpstate GoogleOtaBinder:binder call;

