type emdlogger_exec, exec_type, file_type;
type emdlogger, domain;
init_daemon_domain(emdlogger)
binder_use(emdlogger)
binder_service(emdlogger)
allow emdlogger zygote_exec:file { read getattr open execute execute_no_trans };
allow emdlogger vmodem_device:chr_file { read write ioctl open };
allow emdlogger vfat:file create_file_perms;
allow emdlogger vfat:dir create_dir_perms;
allow emdlogger ttySDIO_device:chr_file { read write ioctl open };
allow emdlogger ttyGS_device:chr_file { read write open ioctl };
allow emdlogger system_radio_prop:property_service set;
allow emdlogger system_file:file execute_no_trans;
allow emdlogger system_data_file:dir { write create open add_name relabelfrom };
allow emdlogger sysfs:file { read open };
allow emdlogger storage_file:lnk_file read;
allow emdlogger shell_exec:file { read execute open execute_no_trans };
allow emdlogger rootfs:lnk_file { getattr };
allow emdlogger rootfs:file r_file_perms;
allow emdlogger property_socket:sock_file write;
allow emdlogger proc:file r_file_perms;
allow emdlogger platform_app:unix_stream_socket connectto;
allow emdlogger persist_mtklog_prop:property_service set;
allow emdlogger persist_mtklog_prop:file r_file_perms;
allow emdlogger mnt_user_file:lnk_file read;
allow emdlogger mnt_user_file:dir search;
allow emdlogger mnt_media_rw_file:dir search;
allow emdlogger mdlog_device:chr_file { read write open ioctl };
allow emdlogger mdlog_data_file:file { write read create open rename unlink getattr setattr append };
allow emdlogger mdlog_data_file:fifo_file { read write open create setattr };
allow emdlogger mdlog_data_file:dir { write search read create open rmdir remove_name add_name relabelto getattr };
allow emdlogger log_device:chr_file { write open };
allow emdlogger init:unix_stream_socket connectto;
allow emdlogger fuse:file { write read create open rename unlink getattr setattr append };
allow emdlogger fuse:dir { write search create rmdir add_name remove_name read open rename };
allow emdlogger eemcs_device:chr_file { read write ioctl open };
allow emdlogger debug_prop:property_service set;
allow emdlogger debug_mdlogger_prop:property_service set;
allow emdlogger ccci_device:chr_file { read write ioctl open };

