type enableswap, domain;
type enableswap_exec, exec_type, file_type;
init_daemon_domain(enableswap)
file_type_auto_trans(enableswap, system_data_file, enableswap_data_file)
allow enableswap zram0_device:blk_file { read write getattr open ioctl };
allow enableswap tiny_swapon_exec:file { read getattr open execute execute_no_trans };
allow enableswap tiny_mkswap_exec:file { read getattr open execute execute_no_trans };
allow enableswap system_file:file execute_no_trans;
allow enableswap system_data_file:dir { write add_name };
allow enableswap sysfs_zram:file { write open };
allow enableswap sysfs_zram:dir search;
allow enableswap sysfs:file write;
allow enableswap shell_exec:file { entrypoint read getattr };
allow enableswap self:capability sys_admin;
allow enableswap self:capability dac_override;
allow enableswap rootfs:lnk_file { getattr };
allow enableswap rootfs:file { read open };
allow enableswap proc:file write;
allow enableswap init_tmpfs:file { open write };
allow enableswap enableswap_data_file:file { create open write };
allow enableswap block_device:dir search;