type factory_idle_state_prop, property_type;
allow untrusted_app factory_idle_state_prop:file { open read getattr };
allow factory factory_idle_state_prop:property_service set;