type gas_srv, domain;
type gas_srv_exec, exec_type, file_type;
typeattribute           gas_srv                             mlstrustedsubject;
init_daemon_domain(gas_srv)
binder_use(gas_srv)
binder_service(gas_srv)
binder_call(gas_srv, system_server)
allow untrusted_app     gas_srv_service:service_manager     find;
allow surfaceflinger    gas_srv_service:service_manager     find;
allow platform_app      gas_srv_service:service_manager     find;
allow ged_srv proc:file { open read };
allow gas_srv vsync_offset_level:file { open read write };
allow gas_srv untrusted_app:file { open read getattr };
allow gas_srv sysfs_boot_mode_file:file { read open };
allow gas_srv sysfs:file { read open };
allow gas_srv rootfs:lnk_file { getattr };
allow gas_srv proc:file { open ioctl };
allow gas_srv proc:dir { search getattr };
allow gas_srv platform_app:file { open read getattr };
allow gas_srv mediaserver:file { open read getattr };
allow gas_srv event_notify:file { open read write };
allow gas_srv           untrusted_app:dir                   search;
allow gas_srv           shell:dir                           search;
allow gas_srv           property_socket:sock_file           write;
allow gas_srv           proc:file                           read;
allow gas_srv           platform_app:dir                    search;
allow gas_srv           mtk_perf_service:service_manager    find;
allow gas_srv           mediaserver:dir                     search;
allow gas_srv           init:unix_stream_socket             connectto;
allow gas_srv           gas_srv_service:service_manager     add;