type geomagneticd_exec, exec_type, file_type;
type geomagneticd, domain;
init_daemon_domain(geomagneticd)
file_type_auto_trans(geomagneticd, system_data_file, msensor_data_file)
allow geomagneticd system_data_file:dir { write remove_name add_name };
allow geomagneticd sysfs:file write;
allow geomagneticd msensor_data_file:file { rename write setattr create unlink open };
allow geomagneticd input_device:dir { read search open };
allow geomagneticd input_device:chr_file { read ioctl open };

