type goodixfingerprintd_lib_file, file_type, data_file_type;
type goodixfingerprintd_exec, exec_type, file_type;
type goodixfingerprintd_device, dev_type, mlstrustedobject;
allow untrusted_app goodixfingerprintd_lib_file:file { read open getattr };
allow untrusted_app goodixfingerprintd_device:chr_file rw_file_perms;
allow system_server goodixfingerprintd_device:chr_file rw_file_perms;
allow goodixfingerprintd goodixfingerprintd_lib_file:file { open read getattr };
allow goodixfingerprintd goodixfingerprintd_lib_file:file { create_file_perms getattr read };
allow goodixfingerprintd goodixfingerprintd_lib_file:file r_file_perms;
allow goodixfingerprintd goodixfingerprintd_lib_file:dir ra_dir_perms;
allow goodixfingerprintd goodixfingerprintd_lib_file:chr_file { rw_file_perms setattr };
allow goodixfingerprintd goodixfingerprintd_exec:file { entrypoint open read };
allow goodixfingerprintd goodixfingerprintd_device:file { create_file_perms };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { rw_file_perms setattr };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { read write ioctl open };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { getattr open read ioctl lock append write };
allow goodix goodixfingerprintd_lib_file:file { create_file_perms getattr read };
allow goodix goodixfingerprintd_lib_file:file r_file_perms;
allow goodix goodixfingerprintd_lib_file:dir ra_dir_perms;
allow goodix goodixfingerprintd_lib_file:chr_file { rw_file_perms setattr };
allow goodix goodixfingerprintd_device:file { create_file_perms };
allow goodix goodixfingerprintd_device:chr_file { rw_file_perms setattr };
allow goodix goodixfingerprintd_device:chr_file { read write ioctl open };
allow goodix goodixfingerprintd_device:chr_file { getattr open read ioctl lock append write };
allow fingerprintd goodixfingerprintd_lib_file:file { read open getattr };
allow fingerprintd goodixfingerprintd_device:chr_file rw_file_perms;
allow domain goodixfingerprintd_device:chr_file rw_file_perms;
allow debuggerd goodixfingerprintd_lib_file:file { read open };
