type goodixfingerprintd_service, app_api_service, system_server_service, service_manager_type;
allow untrusted_app goodixfingerprintd_service:service_manager find;
allow goodixfingerprintd goodixfingerprintd_service:service_manager { add };
allow fingerprintd goodixfingerprintd_service:service_manager find;