type goodixfingerprintd_exec, exec_type, file_type;
type goodixfingerprintd, domain;
use_keystore(goodixfingerprintd)
type_transition goodixfingerprintd system_data_file: { dir file goodixfingerprintd_data_file;
set_prop(goodixfingerprintd, system_prop)
set_prop(goodixfingerprintd, config_prop)
r_dir_file(goodixfingerprintd, sdcard_type)
r_dir_file(goodixfingerprintd, mobicore_data_file)
r_dir_file(goodixfingerprintd, goodixfingerprintd_data_file)
r_dir_file(goodixfingerprintd, fingerprintd_data_file)
init_daemon_domain(goodixfingerprintd)
file_type_auto_trans(goodixfingerprintd, system_data_file, goodixfingerprintd_data_file)
binder_use(goodixfingerprintd)
binder_service(goodixfingerprintd)
binder_call(goodixfingerprintd, system_server);
binder_call(goodixfingerprintd, fingerprintd);
binder_call(goodixfingerprintd, binderservicedomain)
binder_call(goodixfingerprintd, appdomain)
allow goodixfingerprintd_data_file labeledfs:filesystem associate;
allow goodixfingerprintd untrusted_app:binder { call transfer };
allow goodixfingerprintd tee_device:chr_file { rw_file_perms };
allow goodixfingerprintd tee_device:chr_file { open read ioctl write };
allow goodixfingerprintd system_file:file { rx_file_perms };
allow goodixfingerprintd system_data_file:file { open };
allow goodixfingerprintd system_data_file:dir { write open read add_name create };
allow goodixfingerprintd sysfs:file rw_file_perms;
allow goodixfingerprintd storage_file:lnk_file create_file_perms;
allow goodixfingerprintd storage_file:dir create_dir_perms;
allow goodixfingerprintd self:process execmem;
allow goodixfingerprintd self:netlink_socket read;
allow goodixfingerprintd self:netlink_socket create;
allow goodixfingerprintd self:capability { dac_override dac_read_search };
allow goodixfingerprintd sdcard_type:file write;
allow goodixfingerprintd power_service:service_manager find;
allow goodixfingerprintd platform_app:binder { call transfer };
allow goodixfingerprintd permission_service:service_manager find;
allow goodixfingerprintd mobicore_user_device:chr_file { open read ioctl write };
allow goodixfingerprintd mobicore_tui_device:chr_file { open read ioctl write };
allow goodixfingerprintd mobicore_lib_file:file { read open getattr };
allow goodixfingerprintd mobicore_device:chr_file { open read ioctl write };
allow goodixfingerprintd mobicore_device:chr_file rw_file_perms;
allow goodixfingerprintd mobicore_data_file:file create_file_perms;
allow goodixfingerprintd mobicore_data_file:dir ra_dir_perms;
allow goodixfingerprintd mobicore_data_file:dir create_dir_perms;
allow goodixfingerprintd mobicore_data_file:chr_file { rw_file_perms setattr };
allow goodixfingerprintd mobicore_data_file:chr_file { open read ioctl write };
allow goodixfingerprintd mobicore:unix_stream_socket { read write connectto ioctl };
allow goodixfingerprintd mnt_user_file:lnk_file create_file_perms;
allow goodixfingerprintd mnt_user_file:dir create_dir_perms;
allow goodixfingerprintd keystore:keystore_key { add_auth };
allow goodixfingerprintd kernel:system module_request;
allow goodixfingerprintd goodixfingerprintd_service:service_manager { add };
allow goodixfingerprintd goodixfingerprintd_lib_file:file { open read getattr };
allow goodixfingerprintd goodixfingerprintd_lib_file:file { create_file_perms getattr read };
allow goodixfingerprintd goodixfingerprintd_lib_file:file r_file_perms;
allow goodixfingerprintd goodixfingerprintd_lib_file:dir ra_dir_perms;
allow goodixfingerprintd goodixfingerprintd_lib_file:chr_file { rw_file_perms setattr };
allow goodixfingerprintd goodixfingerprintd_exec:file { entrypoint open read };
allow goodixfingerprintd goodixfingerprintd_device:file { create_file_perms };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { rw_file_perms setattr };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { read write ioctl open };
allow goodixfingerprintd goodixfingerprintd_device:chr_file { getattr open read ioctl lock append write };
allow goodixfingerprintd goodixfingerprintd_data_file:file { create_file_perms };
allow goodixfingerprintd goodixfingerprintd_data_file:file { create_file_perms create open write };
allow goodixfingerprintd goodixfingerprintd_data_file:file relabelfrom;
allow goodixfingerprintd goodixfingerprintd_data_file:file create_file_perms;
allow goodixfingerprintd goodixfingerprintd_data_file:dir { create setattr open read ra_dir_perms rw_dir_perms };
allow goodixfingerprintd goodixfingerprintd_data_file:dir rw_dir_perms;
allow goodixfingerprintd goodixfingerprintd_data_file:dir relabelfrom;
allow goodixfingerprintd goodixfingerprintd_data_file:dir create_dir_perms;
allow goodixfingerprintd goodixfingerprintd_data_file:chr_file { rw_file_perms setattr };
allow goodixfingerprintd goodixfingerprintd:netlink_socket { setopt read bind create write getattr shutdown write ioctl };
allow goodixfingerprintd goodixfingerprintd:netlink_socket read;
allow goodixfingerprintd fuse:file create_file_perms;
allow goodixfingerprintd fuse:dir create_dir_perms;
allow goodixfingerprintd fingerprintd_service:service_manager find;
allow goodixfingerprintd fingerprintd_data_file:file { create_file_perms rw_file_perms create open };
allow goodixfingerprintd fingerprintd_data_file:dir { ra_dir_perms r_dir_perms };
allow goodixfingerprintd fingerprintd_data_file:dir { create setattr };
allow goodixfingerprintd fingerprintd_data_file:chr_file { rw_file_perms setattr };
allow goodixfingerprintd fingerprintd:binder { call transfer };
allow goodixfingerprintd fingerprint_service:service_manager { find };
allow goodixfingerprintd app_data_file:file rw_file_perms;
allow goodixfingerprintd app_data_file:dir search;
allow fingerprintd mobicore_lib_file:file { read open getattr };
allow fingerprintd goodixfingerprintd_service:service_manager find;
allow fingerprintd goodixfingerprintd_lib_file:file { read open getattr };
allow fingerprintd goodixfingerprintd_device:chr_file rw_file_perms;
allow fingerprintd goodixfingerprintd:binder { call };