type goodix_exec, exec_type, file_type;
type goodix, domain;
use_keystore(goodixfingerprintd)
type_transition goodixfingerprintd system_data_file: { dir file goodixfingerprintd_data_file;
set_prop(goodix, system_prop)
set_prop(goodix, config_prop)
r_dir_file(goodixfingerprintd, sdcard_type)
r_dir_file(goodixfingerprintd, mobicore_data_file)
r_dir_file(goodix, goodixfingerprintd_data_file)
r_dir_file(goodix, fingerprintd_data_file)
init_daemon_domain(goodix)
file_type_auto_trans(goodixfingerprintd, system_data_file, goodixfingerprintd_data_file)
binder_use(goodix)
binder_service(goodix)
binder_call(goodixfingerprintd, system_server);
binder_call(goodix, system_server);
binder_call(goodix, fingerprintd);
binder_call(goodix, binderservicedomain)
binder_call(goodix, appdomain)
allow goodix untrusted_app:binder { call transfer };
allow goodix tee_device:chr_file { rw_file_perms };
allow goodix tee_device:chr_file { open read ioctl write };
allow goodix system_data_file:file { open };
allow goodix system_data_file:dir { write open read add_name create };
allow goodix sysfs:file rw_file_perms;
allow goodix storage_file:lnk_file create_file_perms;
allow goodix storage_file:dir create_dir_perms;
allow goodix self:process execmem;
allow goodix self:netlink_socket read;
allow goodix self:netlink_socket create;
allow goodix self:capability { dac_override };
allow goodix self:capability { dac_override dac_read_search };
allow goodix sdcard_type:file write;
allow goodix power_service:service_manager find;
allow goodix platform_app:binder { call transfer };
allow goodix permission_service:service_manager { find };
allow goodix permission_service:service_manager find;
allow goodix mobicore_user_device:chr_file { open read ioctl write };
allow goodix mobicore_tui_device:chr_file { open read ioctl write };
allow goodix mobicore_device:chr_file { open read ioctl write };
allow goodix mobicore_device:chr_file rw_file_perms;
allow goodix mobicore_data_file:file create_file_perms;
allow goodix mobicore_data_file:dir ra_dir_perms;
allow goodix mobicore_data_file:dir create_dir_perms;
allow goodix mobicore_data_file:chr_file { rw_file_perms setattr };
allow goodix mobicore_data_file:chr_file { open read ioctl write };
allow goodix mnt_user_file:lnk_file create_file_perms;
allow goodix mnt_user_file:dir create_dir_perms;
allow goodix keystore:keystore_key { add_auth };
allow goodix kernel:system module_request;
allow goodix goodixfingerprintd_lib_file:file { create_file_perms getattr read };
allow goodix goodixfingerprintd_lib_file:file r_file_perms;
allow goodix goodixfingerprintd_lib_file:dir ra_dir_perms;
allow goodix goodixfingerprintd_lib_file:chr_file { rw_file_perms setattr };
allow goodix goodixfingerprintd_device:file { create_file_perms };
allow goodix goodixfingerprintd_device:chr_file { rw_file_perms setattr };
allow goodix goodixfingerprintd_device:chr_file { read write ioctl open };
allow goodix goodixfingerprintd_device:chr_file { getattr open read ioctl lock append write };
allow goodix goodixfingerprintd_data_file:file { create_file_perms };
allow goodix goodixfingerprintd_data_file:file { create_file_perms create open write };
allow goodix goodixfingerprintd_data_file:file relabelfrom;
allow goodix goodixfingerprintd_data_file:file create_file_perms;
allow goodix goodixfingerprintd_data_file:dir { create setattr open read ra_dir_perms rw_dir_perms };
allow goodix goodixfingerprintd_data_file:dir rw_dir_perms;
allow goodix goodixfingerprintd_data_file:dir relabelfrom;
allow goodix goodixfingerprintd_data_file:dir create_dir_perms;
allow goodix goodixfingerprintd_data_file:chr_file { rw_file_perms setattr };
allow goodix goodixfingerprintd:netlink_socket read;
allow goodix goodix_service:service_manager { add };
allow goodix fuse:file create_file_perms;
allow goodix fuse:dir create_dir_perms;
allow goodix fingerprintd_service:service_manager find;
allow goodix fingerprintd_data_file:file { create_file_perms rw_file_perms create open };
allow goodix fingerprintd_data_file:dir { ra_dir_perms r_dir_perms };
allow goodix fingerprintd_data_file:dir { create setattr };
allow goodix fingerprintd_data_file:chr_file { rw_file_perms setattr };
allow goodix fingerprintd:binder { call transfer };
allow goodix fingerprint_device:chr_file { rw_file_perms };
allow goodix app_data_file:file rw_file_perms;
allow goodix app_data_file:dir search;