type GoogleOtaBinder_exec, exec_type, file_type;
type GoogleOtaBinder, domain;
init_daemon_domain(GoogleOtaBinder)
binder_use(GoogleOtaBinder)
binder_service(GoogleOtaBinder)
allow GoogleOtaBinder para_block_device:blk_file { write read open };
allow GoogleOtaBinder ota_agent_service:service_manager add;
allow GoogleOtaBinder mtd_device:dir search;
allow GoogleOtaBinder mtd_device:chr_file { read write open rw_file_perms };
allow GoogleOtaBinder mmcblk0_block_device:blk_file { write read open };
allow GoogleOtaBinder misc_device:chr_file { write read open ioctl };
allow GoogleOtaBinder kmsg_device:chr_file { write read open ioctl };
allow GoogleOtaBinder block_device:dir search;

