allow system_server graphics_device:chr_file { read ioctl open };
allow system_app graphics_device:dir search;
allow system_app graphics_device:chr_file { read write ioctl open };
allow pq graphics_device:dir search;
allow pq graphics_device:chr_file { read write open ioctl };
allow meta_tst graphics_device:dir search;
allow meta_tst graphics_device:chr_file { read write ioctl open };
allow mediaserver graphics_device:chr_file { read write ioctl open };
allow kpoc_charger graphics_device:dir search;
allow kpoc_charger graphics_device:chr_file { read write ioctl open };
allow hotknot_native graphics_device:dir search;
allow hotknot_native graphics_device:chr_file { read write ioctl open };
allow guiext-server graphics_device:chr_file { open read write ioctl };
allow factory graphics_device:dir search;
allow factory graphics_device:chr_file { read write ioctl open };
allow em_svr graphics_device:dir search;
allow em_svr graphics_device:chr_file { read write open ioctl };
allow debuggerd graphics_device:dir search;
allow debuggerd graphics_device:chr_file r_file_perms;
allow boot_logo_updater graphics_device:dir search;
allow boot_logo_updater graphics_device:chr_file { read write ioctl open };
allow atci_service graphics_device:dir search;
allow atci_service graphics_device:chr_file { read write ioctl open };
allow adbd graphics_device:chr_file { read ioctl open };
allow aal graphics_device:dir search;
allow aal graphics_device:chr_file { read open ioctl };
