type gsensor_device, dev_type;
allow yamaha537fusiond gsensor_device:chr_file { read open ioctl write };
allow st480 gsensor_device:chr_file { open ioctl read write };
allow s62xd gsensor_device:chr_file { open ioctl read write };
allow orientationd gsensor_device:chr_file { read ioctl open };
allow nvram_daemon gsensor_device:chr_file { read ioctl open };
allow nvram_agent_binder gsensor_device:chr_file { read ioctl open };
allow mxg2320d gsensor_device:chr_file { open ioctl read write };
allow meta_tst gsensor_device:chr_file { read ioctl open };
allow memsicd3416x gsensor_device:chr_file { open ioctl read write };
allow memsicd gsensor_device:chr_file { read write open };
allow istd8303 gsensor_device:chr_file { open ioctl read write };
allow factory gsensor_device:chr_file { read ioctl open };
allow em_svr gsensor_device:chr_file { read ioctl open };
allow bmm056d gsensor_device:chr_file { open read write ioctl };
allow akmd8963 gsensor_device:chr_file { open ioctl read write };
allow akmd09912 gsensor_device:chr_file { open ioctl read write };
allow akmd09911 gsensor_device:chr_file { open ioctl read write };
