type gsm0710muxd_prop, property_type;
type ctl_gsm0710muxd_prop, property_type;
allow untrusted_app gsm0710muxd_prop:file { open read getattr };
allow mtkrild gsm0710muxd_prop:file { read open getattr };
allow gsm0710muxdmd2 gsm0710muxd_prop:property_service set;
allow gsm0710muxd gsm0710muxd_prop:property_service set;
allow gsm0710muxd gsm0710muxd_prop:file r_file_perms;
allow eemcs_mdinit { ctl_gsm0710muxd_prop ctl_gsm0710muxd-s_prop ctl_gsm0710muxd-d_prop }:property_service set;
allow ccci_mdinit { ctl_gsm0710muxd_prop ctl_gsm0710muxd-s_prop ctl_gsm0710muxd-d_prop ctl_gsm0710muxdmd2_prop }:property_service set;
allow ccci_mdinit ctl_gsm0710muxd_prop:property_service set;
allow atcp gsm0710muxd_prop:property_service set;