type guiext-server_service, service_manager_type;
allow { domain -init -isolated_app guiext-server_service:service_manager find;
allow system_server guiext-server_service:service_manager find;
allow platform_app guiext-server_service:service_manager find;
allow mediaserver guiext-server_service:service_manager find;
allow guiext-server guiext-server_service:service_manager add;