type gyroscope_mpud6050_use, fs_type, sysfs_type;
allow mpud6050 gyroscope_mpud6050_use:file { open read };
allow mpud6050 gyroscope_mpud6050_use:dir { open read search };
