type ims_ipsec_data_file, file_type, data_file_type;
file_type_auto_trans(volte_stack, system_data_file, ims_ipsec_data_file)
allow volte_stack ims_ipsec_data_file:file { rename write ioctl create unlink open append };
