userdebug_or_eng(`
allow installd vfat:file getattr;
allow installd vfat:dir search;
allow installd system_data_file:file open;
allow installd shell_exec:file { read execute open execute_no_trans };
allow installd platform_app_tmpfs:file { open read write getattr };
allow installd platform_app:fd use;
allow installd mobicore_data_file:dir { r_file_perms write remove_name rmdir };
allow installd media_rw_data_file:file { read write create open setattr };
allow installd fuse:file { write getattr setattr read create unlink open };
allow installd fuse:dir { write read remove_name search create add_name getattr setattr };
allow installd dalvikcache_data_file:lnk_file { read getattr setattr unlink create };
allow installd custom_file:file { getattr read open };
allow installd custom_file:dir search;
allow installd apk_tmp_file:dir getattr;
')
  allow installd dex2oat:process noatsecure;

