type istd8303, domain;
type istd8303_exec, exec_type, file_type;
init_daemon_domain(istd8303)
allow istd8303 system_data_file:dir { write add_name create setattr };
allow istd8303 msensor_device:chr_file { open ioctl read write };
allow istd8303 istd8303_access_file2:file { open read write };
allow istd8303 istd8303_access_file1:file { open read write };
allow istd8303 input_device:file { open read };
allow istd8303 input_device:dir { search open read write };
allow istd8303 gsensor_device:chr_file { open ioctl read write };