type key_install_data_file, file_type, data_file_type;
allow meta_tst key_install_data_file:file { read write create open setattr append getattr unlink };
allow meta_tst key_install_data_file:dir { search write remove_name add_name };
