type lannetmngrd_exec, exec_type, file_type;
type lannetmngrd, domain;
init_daemon_domain(lannetmngrd)
allow lannetmngrd wmtWifi_device:chr_file { write open };
allow lannetmngrd wide_dhcpv6_data_file:file { read write create open getattr unlink };
allow lannetmngrd wide_dhcpv6_data_file:dir { read search write add_name remove_name };
allow lannetmngrd volte_stack:udp_socket { read write setopt getopt };
allow lannetmngrd volte_stack:tcp_socket { read write setopt getopt };
allow lannetmngrd volte_stack:fd use;
allow lannetmngrd volte_imcb:tcp_socket { read write };
allow lannetmngrd volte_imcb:tcp_socket setopt;
allow lannetmngrd volte_imcb:tcp_socket getopt;
allow lannetmngrd volte_imcb:fd use;
allow lannetmngrd untrusted_app_tmpfs:file write;
allow lannetmngrd untrusted_app:unix_stream_socket { read write getopt setopt };
allow lannetmngrd untrusted_app:fd use;
allow lannetmngrd self:capability { setuid setgid };
allow lannetmngrd self:capability { setuid net_bind_service setgid };
allow lannetmngrd self:capability sys_module;
allow lannetmngrd self:capability fsetid;
allow lannetmngrd radvd_data_file:file { read write create open unlink };
allow lannetmngrd radvd_data_file:dir { read write search add_name remove_name };
allow lannetmngrd radio_tmpfs:file write;
allow lannetmngrd ppp:process sigkill;
allow lannetmngrd platform_app_tmpfs:file write;
allow lannetmngrd platform_app:fd use;
allow lannetmngrd netdiag:udp_socket { read write getopt setopt };
allow lannetmngrd netdiag:fd use;
allow lannetmngrd mtk_wifi_prop:property_service set; 
allow lannetmngrd mdlogger:tcp_socket { read write };
allow lannetmngrd mdlogger:tcp_socket { getopt setopt };
allow lannetmngrd mdlogger:fd use;
allow lannetmngrd kernel:system module_request;
allow lannetmngrd isolated_app_tmpfs:file write;
allow lannetmngrd isolated_app:fd use;
allow lannetmngrd ipsec:tcp_socket { read write setopt getopt };
allow lannetmngrd ipsec:fd use;
allow lannetmngrd dhcp_data_file:file { read write create open getattr unlink };
allow lannetmngrd dhcp_data_file:dir { read search write add_name remove_name };
allow lannetmngrd dhcp6s_exec:file execute;
allow lannetmngrd device:file { open write };

