type mcDriverDaemon_exec, file_type, exec_type;
allow mobicore mcDriverDaemon_exec:file { read open getattr };
allow mobicore mcDriverDaemon_exec:file { entrypoint };
allow init mcDriverDaemon_exec:file { open read getattr execute };
