type md_ctrl, domain;
type md_ctrl_exec, exec_type, file_type;
init_daemon_domain(md_ctrl)
allow md_ctrl vold_prop:property_service set;
allow md_ctrl self:capability dac_override;
allow md_ctrl property_socket:sock_file write;
allow md_ctrl muxreport_exec:file { read execute open execute_no_trans };
allow md_ctrl init:unix_stream_socket connectto;
allow md_ctrl emd_device:chr_file { read write open };
allow md_ctrl eemcs_device:chr_file { read write };
allow md_ctrl eemcs_device:chr_file open;
allow md_ctrl devpts:chr_file { read write getattr open ioctl };
allow md_ctrl ccci_device:chr_file { read write ioctl open };