type mdlogger_exec, exec_type, file_type;
type emdlogger_exec, exec_type, file_type;
allow shell mdlogger_exec:file rx_file_perms;
allow shell emdlogger_exec:file rx_file_perms;
