type mdlog_device, dev_type;
type mdlog_data_file, file_type, data_file_type;
allow vold mdlog_data_file:file { read getattr open };
allow vold mdlog_data_file:dir { read open getattr search };
allow platform_app mdlog_data_file:file rw_file_perms;
allow platform_app mdlog_data_file:dir rw_dir_perms;
allow permission_check mdlog_data_file:file setattr;
allow permission_check mdlog_data_file:fifo_file setattr;
allow permission_check mdlog_data_file:dir { read search setattr open };
allow mnld mdlog_device:chr_file { read write };
allow meta_tst mdlog_device:chr_file { read write open };
allow mdlogger mdlog_device:chr_file { read write open ioctl };
allow mdlogger mdlog_data_file:file { write read create open rename unlink getattr setattr };
allow mdlogger mdlog_data_file:fifo_file { read open create setattr };
allow mdlogger mdlog_data_file:dir { write search read create open rmdir remove_name add_name relabelto getattr };
allow emdlogger mdlog_device:chr_file { read write open ioctl };
allow emdlogger mdlog_data_file:file { write read create open rename unlink getattr setattr append };
allow emdlogger mdlog_data_file:fifo_file { read write open create setattr };
allow emdlogger mdlog_data_file:dir { write search read create open rmdir remove_name add_name relabelto getattr };
allow eemcs_mdinit mdlog_data_file:file { read open };
allow eemcs_mdinit mdlog_data_file:dir search;
allow cmddumper mdlog_data_file:file create_file_perms;
allow cmddumper mdlog_data_file:fifo_file create_file_perms;
allow cmddumper mdlog_data_file:dir { create_dir_perms relabelto };
allow ccci_mdinit mdlog_data_file:file { read open };
allow ccci_mdinit mdlog_data_file:dir search;
allow atcp mdlog_device:chr_file { read write open ioctl };
allow atcp mdlog_data_file:file { write read create open rename unlink getattr setattr append };
allow atcp mdlog_data_file:fifo_file { read write open create setattr };
allow atcp mdlog_data_file:dir { write search read create open rmdir remove_name add_name relabelto getattr };
