allow vtservice mediaserver_service:service_manager find;
allow bootanim mediaserver_service:service_manager find;
allow audiocmdservice_atci mediaserver_service:service_manager find;
allow atci_service mediaserver_service:service_manager find;