binder_call(mediaserver,audiocmdservice_atci)
binder_call(mediaserver,MtkCodecService)
allow mediaserver vtservice:fd use;
allow mediaserver vtservice:binder { transfer call };
allow mediaserver vow_device:chr_file { read write ioctl open };
allow mediaserver untrusted_app_tmpfs:file write;
allow mediaserver untrusted_app:file { read open getattr };
allow mediaserver untrusted_app:dir search;
allow mediaserver unlabeled:dir search;
allow mediaserver uibc_device:chr_file { read write getattr ioctl open };
allow mediaserver uhid_device:chr_file { read write ioctl open };
allow mediaserver ttySDIO_device:chr_file { read write };
allow mediaserver ttySDIO_device:chr_file open;
allow mediaserver thermal_manager_exec:file { getattr execute read open };
allow mediaserver thermal_manager_data_file:file { open setattr write lock read create getattr };
allow mediaserver thermal_manager_data_file:file setattr;
allow mediaserver thermal_manager_data_file:dir { search getattr open read write setattr add_name };
allow mediaserver tfa9890_device:chr_file { open read write ioctl };
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver system_file:file execmod;
allow mediaserver system_data_file:file open;
allow mediaserver system_data_file:dir write;
allow mediaserver system_app_data_file:file { read getattr };
allow mediaserver system_app:file { read open getattr };
allow mediaserver system_app:dir search;
allow mediaserver sysfs_wake_lock:file { read write open };
allow mediaserver sysfs_lowmemorykiller:file { read open };
allow mediaserver sysfs_boot_mode_file:file { read open getattr };
allow mediaserver sysfs:file { read open };
allow mediaserver sw_sync_device:chr_file rw_file_perms;
allow mediaserver surfaceflinger:file { read open };
allow mediaserver surfaceflinger:file getattr;
allow mediaserver surfaceflinger:fifo_file { read write };
allow mediaserver surfaceflinger:dir search;
allow mediaserver storage_file:lnk_file { read write };
allow mediaserver statusd:unix_stream_socket connectto;
allow mediaserver smartpa_device:chr_file { read write ioctl open };
allow mediaserver smartpa1_device:chr_file { read write ioctl open };
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver self:netlink_kobject_uevent_socket { create setopt bind };
allow mediaserver self:netlink_kobject_uevent_socket read;
allow mediaserver self:capability { setuid ipc_lock };
allow mediaserver self:capability { net_admin dac_override };
allow mediaserver self:capability sys_nice;
allow mediaserver sec_device:chr_file { read open ioctl };
allow mediaserver sdcard_internal:file create;
allow mediaserver sdcard_internal:dir { write create add_name };
allow mediaserver rpc_socket:sock_file write;
allow mediaserver radio_data_file:file open;
allow mediaserver radio_data_file:dir search;
allow mediaserver radio:file { read getattr open };
allow mediaserver radio:dir { search read };
allow mediaserver qemu_pipe_device:chr_file rw_file_perms;
allow mediaserver proc_thermal:file { write getattr open };
allow mediaserver proc_thermal:file { read write open };
allow mediaserver proc_thermal:dir search;
allow mediaserver proc_secmem:file { read write open };
allow mediaserver proc_secmem:file ioctl;
allow mediaserver proc_mtktz:file { read write open };
allow mediaserver proc_mtktz:dir search;
allow mediaserver proc_mtkcooler:file { read write open };
allow mediaserver proc_mtkcooler:dir search;
allow mediaserver proc:file { read open ioctl };
allow mediaserver pq_service:service_manager { find };
allow mediaserver platform_app:file { read getattr open };
allow mediaserver platform_app:dir search;
allow mediaserver persist_data_file:file { read write create open getattr };
allow mediaserver persist_data_file:dir { create write add_name search };
allow mediaserver offloadservice_device:chr_file { read write ioctl open };
allow mediaserver nvram_device:chr_file { open read write };
allow mediaserver nvram_device:blk_file { read write open };
allow mediaserver nvram_data_file:lnk_file read;
allow mediaserver nvram_data_file:file { write getattr setattr read create open };
allow mediaserver nvram_data_file:dir { add_name write search };
allow mediaserver nvdata_file:file { write getattr setattr read create open };
allow mediaserver nvdata_file:dir { add_name write search };
allow mediaserver nvcfg_file:file { write getattr setattr read create open };
allow mediaserver nvcfg_file:dir { add_name write read open search create create_dir_perms getattr setattr };
allow mediaserver mtk_sched_device:chr_file { read write ioctl open };
allow mediaserver mtk_rrc_device:chr_file { read write ioctl open };
allow mediaserver mtk_perf_service:service_manager find;
allow mediaserver mtk_mjc_prop:property_service set;
allow mediaserver mtk_jpeg_device:chr_file { read ioctl open };
allow mediaserver mtk_codec_service_service:service_manager find;
allow mediaserver mobicore_user_device:chr_file { read write open ioctl };
allow mediaserver mobicore_data_file:file { getattr read open lock };
allow mediaserver mobicore_data_file:file getattr;
allow mediaserver mobicore_data_file:dir search;
allow mediaserver mobicore:unix_stream_socket connectto;
allow mediaserver mnt_user_file:lnk_file { read write };
allow mediaserver mnt_user_file:dir { write read search };
allow mediaserver mmcblk0_block_device:blk_file { read write open };
allow mediaserver mjc_lib_prop:property_service set;
allow mediaserver mediaserver_data_file:file { create open read write setattr };
allow mediaserver mediaserver_data_file:dir { search getattr open read write setattr add_name };
allow mediaserver media_wfd_prop:property_service set;
allow mediaserver lens_device:chr_file { read write ioctl open };
allow mediaserver kd_camera_hw_device:chr_file { read write ioctl open };
allow mediaserver kd_camera_flashlight_device:chr_file { read write ioctl open };
allow mediaserver guiext-server_service:service_manager find;
allow mediaserver guiext-server:binder { transfer call };
allow mediaserver graphics_device:chr_file { read write ioctl open };
allow mediaserver fuse:file unlink;
allow mediaserver fuse:file append;
allow mediaserver fuse:dir remove_name;
allow mediaserver fm_device:chr_file { read write ioctl open };
allow mediaserver eemcs_device:chr_file { read write ioctl open };
allow mediaserver ebc_device:chr_file { read write ioctl open };
allow mediaserver devmap_device:chr_file { read open };
allow mediaserver devmap_device:chr_file { ioctl };
allow mediaserver custom_file:file r_file_perms;
allow mediaserver custom_file:dir search;
allow mediaserver ccci_device:chr_file { read write ioctl open };
allow mediaserver camera_sysram_device:chr_file { read ioctl open };
allow mediaserver camera_pipemgr_device:chr_file { read ioctl open };
allow mediaserver camera_isp_device:chr_file { read write ioctl open };
allow mediaserver camera_fdvt_device:chr_file { read write ioctl open };
allow mediaserver camera_dpe_device:chr_file { read write ioctl open };
allow mediaserver bt_int_adp_socket:sock_file write;
allow mediaserver bt_data_file:file { open write create setattr append };
allow mediaserver bt_data_file:dir { write add_name search };
allow mediaserver bt_a2dp_stream_socket:sock_file write;
allow mediaserver bootanim:binder { transfer call };
allow mediaserver bluetooth:unix_dgram_socket sendto;
allow mediaserver block_device:dir { write search };
allow mediaserver block_device:dir search;
allow mediaserver audiohal_prop:property_service set;
allow mediaserver audiocmdservice_atci:binder call;
allow mediaserver audio_ipi_device:chr_file { read write ioctl open };
allow mediaserver ancservice_device:chr_file { read write ioctl open };
allow mediaserver Vcodec_device:chr_file { read write ioctl open };
allow mediaserver SUBAF_device:chr_file { read write ioctl open };
allow mediaserver MtkCodecService:binder call;
allow mediaserver MTK_SMI_device:chr_file { read ioctl open };
allow mediaserver MJC_device:chr_file { read write ioctl open };
allow mediaserver MAINAF_device:chr_file { read write ioctl open };
allow mediaserver MAIN2AF_device:chr_file { read write ioctl open };
allow mediaserver LC898212AF_device:chr_file { read write ioctl open };
allow mediaserver LC898122AF_device:chr_file { read write ioctl open };
allow mediaserver FM50AF_device:chr_file { read write ioctl open };
allow mediaserver DW9814AF_device:chr_file { read write ioctl open };
allow mediaserver DW9763AF_device:chr_file { read write ioctl open };
allow mediaserver DW9718AF_device:chr_file { read write ioctl open };
allow mediaserver DW9714A_device:chr_file { read write ioctl open };
allow mediaserver DW9714AF_device:chr_file { read write ioctl open };
allow mediaserver CAM_CAL_DRV_device:chr_file { read write ioctl open };
allow mediaserver CAM_CAL_DRV2_device:chr_file { read write ioctl open };
allow mediaserver CAM_CAL_DRV1_device:chr_file { read write ioctl open };
allow mediaserver BU64745GWZAF_device:chr_file { read write ioctl open };
allow mediaserver BU6429AF_device:chr_file { read write ioctl open };
allow mediaserver AK7345AF_device:chr_file { read write ioctl open };
allow mediaserver AD5820AF_device:chr_file { read write ioctl open };