type media_wfd_prop, property_type;
allow untrusted_app media_wfd_prop:file { read open getattr };
allow system_server media_wfd_prop:property_service set;
allow radio media_wfd_prop:property_service set;
allow mediaserver media_wfd_prop:property_service set;