type memsicd3416x_exec, exec_type, file_type;
type memsicd3416x, domain;
init_daemon_domain(memsicd3416x)
allow memsicd3416x msensor_device:chr_file { open ioctl read write };
allow memsicd3416x input_device:file { open read };
allow memsicd3416x input_device:dir { search open read write };
allow memsicd3416x gsensor_device:chr_file { open ioctl read write };