type misc_sd_device, dev_type;
type misc_device, dev_type;
type m_mag_misc_device, dev_type;
type m_batch_misc_device, dev_type;
type m_acc_misc_device, dev_type;
allow vold misc_sd_device:chr_file { read ioctl open };
allow vold misc_device:chr_file { write open };
allow vold misc_device:chr_file read;
allow viarild misc_device:chr_file { read write open };
allow uncrypt misc_device:chr_file *;
allow system_server m_batch_misc_device:chr_file { read ioctl open };
allow sdcardd misc_device:chr_file { read write open };
allow sbchk misc_sd_device:chr_file { read open };
allow recovery misc_sd_device:chr_file *;
allow recovery misc_device:chr_file *;
allow mtkrildmd2 misc_device:chr_file { read write open };
allow mtkrild misc_device:chr_file { read write open };
allow mmc_ffu misc_sd_device:chr_file { read ioctl open };
allow meta_tst misc_device:chr_file { read write open };
allow ipod misc_device:chr_file { open read write };
allow fota1 misc_device:chr_file { write open };
allow factory misc_sd_device:chr_file { read ioctl open };
allow em_svr misc_sd_device:chr_file { read open ioctl };
allow dm_agent_binder misc_device:chr_file { rw_file_perms };
allow ccci_mdinit misc_sd_device:chr_file { read open };
allow atcp misc_device:chr_file { read write open };
allow GoogleOtaBinder misc_device:chr_file { write read open ioctl };
