type mmc_ffu_exec, exec_type, file_type;
type mmc_ffu, domain;
init_daemon_domain(mmc_ffu)
allow mmc_ffu mmcblk0_block_device:blk_file { read write ioctl open };
allow mmc_ffu misc_sd_device:chr_file { read ioctl open };
allow mmc_ffu block_device:dir search;

