type mmcblk0_block_device, dev_type;
allow vold mmcblk0_block_device:blk_file rw_file_perms;
allow statusd mmcblk0_block_device:blk_file { read write open };
allow sdcardd mmcblk0_block_device:blk_file { read write open };
allow sbchk mmcblk0_block_device:blk_file rw_file_perms;
allow ppl_agent mmcblk0_block_device:blk_file rw_file_perms;
allow nvram_daemon mmcblk0_block_device:blk_file rw_file_perms;
allow nvram_agent_binder mmcblk0_block_device:blk_file rw_file_perms;
allow mtkrild mmcblk0_block_device:blk_file { read write open };
allow mnld mmcblk0_block_device:blk_file rw_file_perms;
allow mmc_ffu mmcblk0_block_device:blk_file { read write ioctl open };
allow meta_tst mmcblk0_block_device:blk_file { getattr ioctl read write open };
allow mediaserver mmcblk0_block_device:blk_file { read write open };
allow kpoc_charger mmcblk0_block_device:blk_file read;
allow kpoc_charger mmcblk0_block_device:blk_file open;
allow ipod mmcblk0_block_device:blk_file rw_file_perms;
allow factory mmcblk0_block_device:blk_file rw_file_perms;
allow em_svr mmcblk0_block_device:blk_file { read write open };
allow eemcs_mdinit mmcblk0_block_device:blk_file { read write open };
allow dmlog mmcblk0_block_device:blk_file { read write };
allow dm_agent_binder mmcblk0_block_device:blk_file rw_file_perms;
allow debuggerd mmcblk0_block_device:blk_file { read write ioctl open };
allow ccci_rpcd mmcblk0_block_device:blk_file { open read write };
allow ccci_mdinit mmcblk0_block_device:blk_file { read write open };
allow ccci_fsd mmcblk0_block_device:blk_file { read write open ioctl };
allow boot_logo_updater mmcblk0_block_device:blk_file { open read };
allow autokd mmcblk0_block_device:blk_file { open read write };
allow audiocmdservice_atci mmcblk0_block_device:blk_file { read write };
allow atcp mmcblk0_block_device:blk_file { read write open };
allow atcp mmcblk0_block_device:blk_file { open read write };
allow atcid mmcblk0_block_device:blk_file { open read write };
allow atci_service mmcblk0_block_device:blk_file { open read write };
allow GoogleOtaBinder mmcblk0_block_device:blk_file { write read open };
