type mnld_prop, property_type;
allow untrusted_app mnld_prop:file { open read getattr };
allow radio mnld_prop:file { read open getattr };
allow mnld mnld_prop:property_service set;
allow meta_tst mnld_prop:property_service set;