type mtk_wifi_prop, property_type;
type mtk_vt_prop, property_type;
type mtk_tele_prop, property_type;
type mtk_rns_service, app_api_service, system_server_service, service_manager_type;
type mtk_mwblacklist_service, service_manager_type;
type mtk_msg_monitor_service, app_api_service, system_server_service, service_manager_type;
type mtk_mjc_prop, property_type;
type mtk_hotknot_service, service_manager_type;
type mtk_epgd_service, app_api_service, system_server_service, service_manager_type;
type mtk_em_ims_simulate_prop, property_type;
type mtk_data_shaping_service, app_api_service, system_server_service, service_manager_type;
type mtk_codec_service_service, service_manager_type;
type mtk_anrmanager_service, app_api_service, system_server_service, service_manager_type;
type mtk_consumerir_service, service_manager_type;
type mtk_em_auto_answer_prop, property_type;
type mtk_em_pdn_prop, property_type;
type mtk_hdmi_service, app_api_service, system_server_service, service_manager_type;
type mtk_md_prop, property_type;
type mtk_mobile_service, app_api_service, system_server_service, service_manager_type;
type mtk_multiwindow_service, app_api_service, system_server_service, service_manager_type;
type mtk_perf_service, app_api_service, system_server_service, service_manager_type;
type mtk_sf_prop, property_type;
type mtk_volte_prop, property_type;
type mtk_wfc_prop, property_type;
type mtk_wod_prop, property_type;
allow untrusted_app mtk_wod_prop:file { open read getattr };
allow untrusted_app mtk_wifi_prop:file { read open getattr };
allow untrusted_app mtk_wfc_prop:file { getattr open read };
allow untrusted_app mtk_vt_prop:file { getattr open read };
allow untrusted_app mtk_volte_prop:file { open read getattr };
allow untrusted_app mtk_tele_prop:file { open read getattr };
allow untrusted_app mtk_sf_prop:file { getattr open read };
allow untrusted_app mtk_mwblacklist_service:service_manager find;
allow untrusted_app mtk_mjc_prop:file { read open getattr };
allow untrusted_app mtk_md_prop:file { open read getattr };
allow untrusted_app mtk_hotknot_service:service_manager find;
allow untrusted_app mtk_em_pdn_prop:file { getattr open read };
allow untrusted_app mtk_em_ims_simulate_prop:file { getattr open read };
allow untrusted_app mtk_em_auto_answer_prop:file { getattr open read };
allow untrusted_app mtk_consumerir_service:service_manager find;
allow system_server mtk_mwblacklist_service:service_manager find;
allow system_app mtk_mwblacklist_service:service_manager find;
allow system_app mtk_mwblacklist_service:service_manager add;
allow system_app mtk_hotknot_service:service_manager add;
allow system_app mtk_consumerir_service:service_manager add;
allow surfaceflinger mtk_perf_service:service_manager find;
allow statusd mtk_md_prop:property_service set;
allow radio mtk_wfc_prop:property_service set;
allow radio mtk_vt_prop:property_service set;
allow radio mtk_volte_prop:property_service set;
allow radio mtk_em_pdn_prop:property_service set;
allow radio mtk_em_ims_simulate_prop:property_service set;
allow radio mtk_em_auto_answer_prop:property_service set;
allow platform_app mtk_mwblacklist_service:service_manager find;
allow platform_app mtk_hotknot_service:service_manager find;
allow platform_app mtk_consumerir_service:service_manager find;
allow nvram_daemon mtk_wifi_prop:property_service set;
allow netd mtk_wifi_prop:property_service set; 
allow netd mtk_perf_service:service_manager find;
allow mtkrild mtk_tele_prop:file { open read };
allow mtk_agpsd mtk_md_prop:file { read open getattr };
allow mediaserver mtk_perf_service:service_manager find;
allow mediaserver mtk_mjc_prop:property_service set;
allow mediaserver mtk_codec_service_service:service_manager find;
allow lannetmngrd mtk_wifi_prop:property_service set; 
allow ipsec mtk_wod_prop:property_service set;
allow ged_srv mtk_sf_prop:property_service set;
allow gas_srv           mtk_perf_service:service_manager    find;
allow epdg_wod mtk_wod_prop:property_service set;
allow ccci_mdinit mtk_tele_prop:property_service set;
allow ccci_mdinit mtk_md_prop:property_service set;
allow ccci_mdinit mtk_md_prop:file { read open getattr ioctl };
allow ccci_fsd mtk_md_prop:file r_file_perms;
allow atci_service mtk_perf_service:service_manager find;
allow MtkCodecService mtk_codec_service_service:service_manager add;