type MtkCodecService_exec, exec_type, file_type;
type MtkCodecService, domain;
init_daemon_domain(MtkCodecService)
binder_use(MtkCodecService)
allow MtkCodecService self:capability { setuid sys_nice };
allow MtkCodecService rootfs:lnk_file { getattr };
allow MtkCodecService mtk_codec_service_service:service_manager add;
allow MtkCodecService mediaserver:fd use;
allow MtkCodecService mediaserver:binder call;
allow MtkCodecService dumpstate:fd use;

