type mtkFlpDaemon_data_file, file_type, data_file_type;
file_type_auto_trans(mtkFlpDaemon, system_data_file, mtkFlpDaemon_data_file);
allow system_server mtkFlpDaemon_data_file:sock_file rw_file_perms;
allow system_server mtkFlpDaemon_data_file:sock_file create_file_perms;
allow system_server mtkFlpDaemon_data_file:dir rw_dir_perms;
allow system_server mtkFlpDaemon_data_file:dir create_file_perms;
allow mtkFlpDaemon mtkFlpDaemon_data_file:sock_file create_file_perms;
allow mtkFlpDaemon mtkFlpDaemon_data_file:file create_file_perms;
allow mtkFlpDaemon mtkFlpDaemon_data_file:dir create_dir_perms;
allow mtkFlpDaemon mtkFlpDaemon_data_file:dir add_name;
allow mnld mtkFlpDaemon_data_file:sock_file create_file_perms;
allow mnld mtkFlpDaemon_data_file:dir create_dir_perms;
