type muxreport_exec, exec_type, file_type;
allow shell muxreport_exec:file rx_file_perms;
allow md_ctrl muxreport_exec:file { read execute open execute_no_trans };
