type mxg2320d_exec, exec_type, file_type;
type mxg2320d, domain;
init_daemon_domain(mxg2320d)
file_type_auto_trans(mxg2320d, system_data_file, msensor_data_file)
allow mxg2320d system_data_file:dir { create setattr };
allow mxg2320d msensor_device:chr_file { open ioctl read write };
allow mxg2320d msensor_data_file:file { open write read create setattr };
allow mxg2320d input_device:file { open read };
allow mxg2320d input_device:dir { search open read write };
allow mxg2320d gsensor_device:chr_file { open ioctl read write };
allow mxg2320d akmd8963_access_file2:file { open read write };
allow mxg2320d akmd8963_access_file1:file { open read write };

