type net_cdma_mdmstat, property_type;
allow untrusted_app net_cdma_mdmstat:file { open read getattr };
allow statusd net_cdma_mdmstat:property_service set;
allow ccci_mdinit net_cdma_mdmstat:property_service set;