type netdiag, domain;
type netdiag_exec, exec_type, file_type;
typeattribute netdiag mlstrustedsubject;
init_daemon_domain(netdiag)
binder_use(netdiag)
allow system_server netdiag:fd use;
allow netdiag untrusted_app:dir search;
allow netdiag tmpfs:lnk_file read;
allow netdiag system_server:binder call;
allow netdiag system_file:file execute_no_trans;
allow netdiag storage_file:lnk_file read;
allow netdiag shell_exec:file { read execute open };
allow netdiag shell_exec:file execute_no_trans;
allow netdiag servicemanager:binder call;
allow netdiag self:udp_socket ioctl;
allow netdiag self:udp_socket create;
allow netdiag self:udp_socket connect;
allow netdiag self:rawip_socket { getopt create };
allow netdiag self:packet_socket { write ioctl setopt read getopt create };
allow netdiag self:netlink_route_socket { write getattr setopt read bind create nlmsg_read };
allow netdiag self:capability { setuid net_raw setgid };
allow netdiag self:capability net_admin;
allow netdiag sdcard_internal:file { write create open getattr };
allow netdiag sdcard_internal:dir { write search read create open add_name };
allow netdiag rootfs:lnk_file { getattr };
allow netdiag qtaguid_proc:file { read getattr open };
allow netdiag property_socket:sock_file write;
allow netdiag proc_net:file r_file_perms;
allow netdiag platform_app:dir search;
allow netdiag persist_mtklog_prop:property_service set;
allow netdiag netstats_service:service_manager find;
allow netdiag netd:unix_stream_socket connectto;
allow netdiag net_data_file:file { read getattr open };
allow netdiag net_data_file:dir search;
allow netdiag mnt_user_file:lnk_file read;
allow netdiag mnt_user_file:dir search;
allow netdiag init:unix_stream_socket connectto;
allow netdiag fwmarkd_socket:sock_file write;
allow netdiag fuse:file { rename write getattr read create open unlink };
allow netdiag fuse:file create_file_perms;
allow netdiag fuse:dir { remove_name write search read remove_name open add_name create };
allow netdiag domain:file { read open };
allow netdiag domain:dir search;
allow netdiag dnsproxyd_socket:sock_file write;
allow netdiag debug_netlog_prop:property_service set;
allow netdiag debug_mtklog_prop:property_service set;
allow netdiag connectivity_service:service_manager find;