allow volte_imsm_md netd_socket:sock_file write;
allow thermal netd_socket:sock_file write;
allow mtkmal netd_socket:sock_file write;
allow atcp netd_socket:sock_file write;
