type nfc_socket, file_type;
allow radio nfc_socket:sock_file { create write unlink setattr };
allow radio nfc_socket:dir { write add_name remove_name search };
allow nfc nfc_socket:sock_file { write create setattr unlink };
allow nfc nfc_socket:dir { write remove_name add_name search };
allow atci_service nfc_socket:sock_file { create write unlink setattr };
allow atci_service nfc_socket:dir { write add_name remove_name search };
