type nvdata_file, file_type, data_file_type;
allow vold nvdata_file:file { read getattr open write create setattr };
allow vold nvdata_file:dir { read ioctl open write add_name create getattr setattr search };
allow untrusted_app nvdata_file:file { getattr open read };
allow untrusted_app nvdata_file:dir { getattr open read search };
allow system_app nvdata_file:file { read getattr open };
allow system_app nvdata_file:dir search;
allow statusd nvdata_file:file { create write open read getattr setattr };
allow statusd nvdata_file:dir { search add_name write remove_name read open };
allow ppl_agent nvdata_file:file create_file_perms;
allow ppl_agent nvdata_file:dir create_dir_perms;
allow permission_check nvdata_file:file { write create open setattr getattr };
allow permission_check nvdata_file:dir { rw_dir_perms setattr };
allow nvram_daemon nvdata_file:file create_file_perms;
allow nvram_daemon nvdata_file:dir create_dir_perms;
allow nvram_agent_binder nvdata_file:file create_file_perms;
allow nvram_agent_binder nvdata_file:dir create_dir_perms;
allow mnld nvdata_file:file create_file_perms;
allow mnld nvdata_file:dir create_dir_perms;
allow meta_tst nvdata_file:file { setattr read create write getattr unlink open append };
allow meta_tst nvdata_file:dir { write read open add_name remove_name search create getattr setattr };
allow mediaserver nvdata_file:file { write getattr setattr read create open };
allow mediaserver nvdata_file:dir { add_name write search };
allow kernel nvdata_file:file r_file_perms;
allow kernel nvdata_file:dir search;
allow init nvdata_file:dir { write search setattr read create open add_name };
allow hotknot_native nvdata_file:file { read getattr open };
allow hotknot_native nvdata_file:dir search;
allow factory nvdata_file:file { create_file_perms };
allow factory nvdata_file:dir { create_dir_perms };
allow em_svr nvdata_file:file { write getattr setattr read create open };
allow em_svr nvdata_file:dir { write read open add_name search };
allow eemcs_mdinit nvdata_file:file create_file_perms;
allow eemcs_mdinit nvdata_file:dir rw_dir_perms;
allow eemcs_fsd nvdata_file:file create_file_perms;
allow eemcs_fsd nvdata_file:dir create_dir_perms;
allow dm_agent_binder nvdata_file:file { create_file_perms };
allow dm_agent_binder nvdata_file:dir { rw_dir_perms create };
allow dm_agent_binder nvdata_file:dir create;
allow ccci_mdinit nvdata_file:file create_file_perms;
allow ccci_mdinit nvdata_file:dir rw_dir_perms;
allow ccci_fsd nvdata_file:file create_file_perms;
allow ccci_fsd nvdata_file:dir create_dir_perms;
allow bluetooth nvdata_file:file { read write getattr open };
allow bluetooth nvdata_file:dir search;
allow autokd nvdata_file:file { read write getattr create open setattr };
allow autokd nvdata_file:dir { search read write getattr add_name remove_name };
allow audioserver nvdata_file:file { open read getattr };
allow audioserver nvdata_file:dir { search };
allow audiocmdservice_atci nvdata_file:file { write getattr setattr read create open };
allow audiocmdservice_atci nvdata_file:dir { add_name write search };
allow atci_service nvdata_file:file { create read write setattr open };
allow atci_service nvdata_file:file getattr;
allow atci_service nvdata_file:dir { open read write add_name search };
