type nvram_agent_service, service_manager_type;
allow system_server nvram_agent_service:service_manager find;
allow nvram_agent_binder nvram_agent_service:service_manager add;
allow drmserver nvram_agent_service:service_manager find;