type nvram_data_file, file_type, data_file_type;
type nvram_daemon_exec, exec_type, file_type;
type nvram_agent_binder_exec, exec_type, file_type;
allow vold nvram_data_file:lnk_file read;
allow vold nvram_data_file:file { read getattr open write create setattr };
allow vold nvram_data_file:dir { read open write add_name create getattr setattr search };
allow system_app nvram_data_file:lnk_file read;
allow statusd nvram_data_file:lnk_file { read };
allow statusd nvram_data_file:file { create write open read getattr setattr };
allow statusd nvram_data_file:dir { search add_name write remove_name read open };
allow sn nvram_data_file:file r_file_perms;
allow shell nvram_daemon_exec:file rx_file_perms;
allow shell nvram_agent_binder_exec:file rx_file_perms;
allow ppl_agent nvram_data_file:lnk_file read;
allow ppl_agent nvram_data_file:file create_file_perms;
allow ppl_agent nvram_data_file:dir create_dir_perms;
allow permission_check nvram_data_file:lnk_file read;
allow permission_check nvram_data_file:file { write create open setattr getattr };
allow permission_check nvram_data_file:dir { rw_dir_perms setattr };
allow nvram_daemon nvram_data_file:lnk_file read;
allow nvram_daemon nvram_data_file:file create_file_perms;
allow nvram_daemon nvram_data_file:dir create_dir_perms;
allow nvram_agent_binder nvram_data_file:lnk_file read;
allow nvram_agent_binder nvram_data_file:file create_file_perms;
allow nvram_agent_binder nvram_data_file:dir { create };
allow mnld nvram_data_file:lnk_file read;
allow mnld nvram_data_file:file create_file_perms;
allow mnld nvram_data_file:dir create_dir_perms;
allow meta_tst nvram_data_file:lnk_file read;
allow meta_tst nvram_data_file:file { setattr read create write getattr unlink open append };
allow meta_tst nvram_data_file:dir { write read open add_name remove_name search create getattr setattr };
allow meta_tst nvram_data_file:dir search;
allow mediaserver nvram_data_file:lnk_file read;
allow mediaserver nvram_data_file:file { write getattr setattr read create open };
allow mediaserver nvram_data_file:dir { add_name write search };
allow kernel nvram_data_file:lnk_file read;
allow kernel nvram_data_file:file r_file_perms;
allow kernel nvram_data_file:dir search;
allow init nvram_data_file:lnk_file read;
allow init nvram_data_file:dir { write search setattr read create open add_name };
allow factory nvram_data_file:lnk_file read;
allow factory nvram_data_file:file { write getattr setattr read create open };
allow factory nvram_data_file:file { create_file_perms };
allow factory nvram_data_file:dir { write read open add_name getattr setattr };
allow factory nvram_data_file:dir { create_dir_perms };
allow factory nvram_data_file:dir search;
allow em_svr nvram_data_file:lnk_file read;
allow em_svr nvram_data_file:file { write getattr setattr read create open };
allow em_svr nvram_data_file:dir { write read open add_name search };
allow eemcs_mdinit nvram_data_file:lnk_file read;
allow eemcs_mdinit nvram_data_file:file create_file_perms;
allow eemcs_mdinit nvram_data_file:dir rw_dir_perms;
allow eemcs_fsd nvram_data_file:lnk_file read;
allow eemcs_fsd nvram_data_file:file create_file_perms;
allow eemcs_fsd nvram_data_file:dir create_dir_perms;
allow dm_agent_binder nvram_data_file:lnk_file read;
allow dm_agent_binder nvram_data_file:file { create_file_perms };
allow dm_agent_binder nvram_data_file:dir { rw_dir_perms create };
allow dm_agent_binder nvram_data_file:dir create;
allow ccci_mdinit nvram_data_file:lnk_file read;
allow ccci_mdinit nvram_data_file:file create_file_perms;
allow ccci_mdinit nvram_data_file:dir rw_dir_perms;
allow ccci_fsd nvram_data_file:lnk_file read;
allow ccci_fsd nvram_data_file:file create_file_perms;
allow ccci_fsd nvram_data_file:dir create_dir_perms;
allow cameraserver nvram_data_file:file { read open getattr };
allow bluetooth nvram_data_file:lnk_file read;
allow bluetooth nvram_data_file:file rw_file_perms;
allow bluetooth nvram_data_file:dir search;
allow autokd nvram_data_file:file { read write getattr create open };
allow autokd nvram_data_file:dir { search read write getattr add_name remove_name };
allow audioserver nvram_data_file:lnk_file { read write open };
allow audioserver nvram_data_file:file { read write open getattr setattr create };
allow audioserver nvram_data_file:dir { write add_name };
allow audiocmdservice_atci nvram_data_file:lnk_file read;
allow audiocmdservice_atci nvram_data_file:file { write getattr setattr read create open };
allow audiocmdservice_atci nvram_data_file:dir { add_name write search };
allow atci_service nvram_data_file:file { setattr read create write getattr unlink open append };
allow atci_service nvram_data_file:dir { write read open add_name remove_name search create getattr setattr };
