type ota_agent_service, service_manager_type;
allow platform_app ota_agent_service:service_manager find;
allow GoogleOtaBinder ota_agent_service:service_manager add;