type persist_service_atci_prop, property_type;
type persist_mtklog_prop, property_type;
type persist_md_prop, property_type;
type persist_dm_prop, property_type;
type persist_aee_prop, property_type;
type persist_bt_prop, property_type;
type persist_mal_prop, property_type;
type persist_mtk_aee_prop, property_type;
type persist_ril_prop, property_type;
type persist_wod_prop, property_type;
allow zygote persist_ril_prop:file { read open getattr };
allow viarild persist_ril_prop:property_service set;
allow untrusted_app persist_wod_prop:file { open read getattr };
allow untrusted_app persist_service_atci_prop:file { open read getattr };
allow untrusted_app persist_ril_prop:file { read open getattr };
allow untrusted_app persist_mtklog_prop:file { read open getattr };
allow untrusted_app persist_mtk_aee_prop:file { read open getattr };
allow untrusted_app persist_md_prop:file { open read getattr };
allow untrusted_app persist_mal_prop:file { read open getattr };
allow untrusted_app persist_dm_prop:file { open read getattr };
allow untrusted_app persist_bt_prop:file { open read getattr };
allow untrusted_app persist_aee_prop:file { read open getattr };
allow terservice persist_ril_prop:file { read open getattr };
allow statusd persist_ril_prop:property_service set;
allow radio persist_service_atci_prop:property_service set;
allow radio persist_ril_prop:property_service set;
allow permission_check persist_md_prop:file { read open getattr };
allow permission_check   persist_md_prop: property_service set;
allow netdiag persist_mtklog_prop:property_service set;
allow muxreport persist_ril_prop:file { read open getattr };
allow mtkrildmd2 persist_service_atci_prop:property_service set;
allow mtkrildmd2 persist_ril_prop:property_service set;
allow mtkrild persist_service_atci_prop:property_service set;
allow mtkrild persist_ril_prop:property_service set;
allow mtkrild persist_ril_prop:file { read open getattr };
allow mtkmal persist_mal_prop:property_service set;
allow mtkmal persist_mal_prop:file { read open getattr };
allow md_monitor persist_mtklog_prop:file { read open getattr };
allow gsm0710muxd persist_ril_prop:file { read open getattr };
allow epdg_wod persist_wod_prop:property_service set;
allow emdlogger persist_mtklog_prop:property_service set;
allow emdlogger persist_mtklog_prop:file r_file_perms;
allow dm_agent_binder persist_dm_prop:property_service set;
allow debuggerd persist_mtk_aee_prop:property_service set;
allow debuggerd persist_aee_prop:property_service set;
allow ccci_mdinit persist_ril_prop:file { read open getattr };
allow bluetooth persist_bt_prop:file { read open getattr };
allow atcp persist_service_atci_prop:property_service set;
allow atcp persist_ril_prop:property_service set;
allow atcp persist_mtklog_prop:property_service set;
allow atcid persist_service_atci_prop:property_service set;