unix_socket_connect(platform_app, netdiag, netdiag)
unix_socket_connect(platform_app, backuprestore, br_app_data_service);
unix_socket_connect(platform_app, agpsd, mtk_agpsd);
typeattribute platform_app mlstrustedsubject;
allow platform_app vow_device:chr_file rw_file_perms;
allow platform_app ttySDIO_device:chr_file rw_file_perms;
allow platform_app system_app_service:service_manager find;
allow platform_app system_app_data_file:file { read write };
allow platform_app system_app_data_file:dir search;
allow platform_app subtitle_data_file:file { open read write create };
allow platform_app subtitle_data_file:dir { open read write search create add_name };
allow platform_app radio_data_file:dir search;
allow platform_app qemu_pipe_device:chr_file rw_file_perms;
allow platform_app program_binary_service:service_manager find;
allow platform_app proc_secmem:file r_file_perms;
allow platform_app proc_mtktz:file read;
allow platform_app proc_mtktz:dir search;
allow platform_app pq_service:service_manager { find };
allow platform_app ppl_agent_service:service_manager find;
allow platform_app ota_agent_service:service_manager find;
allow platform_app nfc_service:service_manager find;
allow platform_app netdiag_socket:sock_file write;
allow platform_app netdiag:unix_stream_socket connectto;
allow platform_app mtk_mwblacklist_service:service_manager find;
allow platform_app mtk_kpd_device:chr_file rw_file_perms;
allow platform_app mtk_hotknot_service:service_manager find;
allow platform_app mtk_consumerir_service:service_manager find;
allow platform_app mobile_log_d:unix_stream_socket connectto;
allow platform_app mobicore_tui_device:chr_file { read open ioctl };
allow platform_app mnld:unix_stream_socket connectto;
allow platform_app mediaserver:dir search;
allow platform_app mdlogger:unix_stream_socket connectto;
allow platform_app mdlog_data_file:file rw_file_perms;
allow platform_app mdlog_data_file:dir rw_dir_perms;
allow platform_app md_monitor:unix_stream_socket connectto;
allow platform_app init:unix_stream_socket connectto;
allow platform_app guiext-server_service:service_manager find;
allow platform_app guiext-server:binder { transfer call };
allow platform_app fuseblk:file { read open write create getattr unlink };
allow platform_app fuseblk:dir { read open write search add_name remove_name rmdir };
allow platform_app fuse:file execute;
allow platform_app fuse:file create_file_perms;
allow platform_app fuse:dir create_dir_perms;
allow platform_app fm_device:chr_file rw_file_perms;
allow platform_app emdlogger:unix_stream_socket connectto;
allow platform_app dm_agent_binder_service:service_manager find;
allow platform_app debugfs:file getattr;
allow platform_app cmddumper:unix_stream_socket connectto;
allow platform_app camera_isp_device:chr_file rw_file_perms;
allow platform_app anr_data_file:file rw_file_perms;
allow platform_app als_ps_device:chr_file { read open ioctl };
allow platform_app aee_exp_data_file:file r_file_perms;
allow platform_app aee_exp_data_file:dir r_dir_perms;
allow platform_app Vcodec_device:chr_file { read write ioctl open };