type ppl_agent_service, service_manager_type;
allow radio ppl_agent_service:service_manager find;
allow ppl_agent ppl_agent_service:service_manager add;
allow platform_app ppl_agent_service:service_manager find;