type pppd_btdun, domain;
type pppd_btdun_exec, exec_type, file_type;
init_daemon_domain(pppd_btdun)
allow pppd_btdun tun_device:chr_file { read write ioctl open create };
allow pppd_btdun self:udp_socket { read write ioctl create };
allow pppd_btdun self:tun_socket { read write ioctl create };
allow pppd_btdun self:capability { net_admin net_raw };
allow bluetooth pppd_btdun:unix_stream_socket { read write ioctl connectto create };