type pq_service, service_manager_type;
allow vtservice pq_service:service_manager { find };
allow untrusted_app pq_service:service_manager { find };
allow surfaceflinger pq_service:service_manager { find };
allow pq pq_service:service_manager { find };
allow pq pq_service:service_manager add;
allow platform_app pq_service:service_manager { find };
allow mediaserver pq_service:service_manager { find };
allow mediacodec pq_service:service_manager { find };
allow cameraserver pq_service:service_manager { find };
allow atci_service pq_service:service_manager { find };