type proc_slogger, fs_type;
type proc_mtktz, fs_type;
type proc_mrdump_rst, fs_type;
type proc_icusb, fs_type;
type proc_lk_env, fs_type;
type proc_mtkcooler, fs_type;
type proc_secmem, fs_type;
type proc_thermal, fs_type;
allow vold proc_mtktz:dir r_dir_perms;
allow vold proc_mtkcooler:dir r_dir_perms;
allow vold proc_lk_env:file { read write open ioctl };
allow viarild proc_lk_env:file { read ioctl open };
allow untrusted_app proc_secmem:file { read ioctl open };
allow untrusted_app proc_mtktz:file read;
allow untrusted_app proc_mtktz:file open;
allow untrusted_app proc_mtktz:file getattr;
allow untrusted_app proc_mtktz:dir search;
allow untrusted_app proc_lk_env:file getattr;
allow thermald proc_thermal:file { read getattr open write };
allow thermald proc_thermal:dir search;
allow thermal_manager proc_thermal:file { read getattr open write };
allow thermal_manager proc_thermal:dir search;
allow thermal_manager proc_mtktz:file { read getattr open write };
allow thermal_manager proc_mtktz:dir search;
allow thermal_manager proc_mtkcooler:file { read getattr open write };
allow thermal_manager proc_mtkcooler:dir search;
allow thermal proc_thermal:file { read write open };
allow thermal proc_thermal:dir search;
allow system_server proc_secmem:file { rw_file_perms };
allow system_app proc_thermal:file { read getattr open write };
allow system_app proc_thermal:dir search;
allow system_app proc_slogger:file { read getattr open write };
allow system_app proc_secmem:file rw_file_perms;
allow system_app proc_mtktz:file { read getattr open write };
allow system_app proc_mtktz:dir search;
allow system_app proc_mtkcooler:file { read getattr open write };
allow system_app proc_mtkcooler:dir search;
allow surfaceflinger proc_secmem:file { read write open ioctl };
allow sdcardd proc_lk_env:file { read write ioctl open };
allow radio proc_mtktz:dir search;
allow radio proc_mtkcooler:dir search;
allow platform_app proc_secmem:file r_file_perms;
allow platform_app proc_mtktz:file read;
allow platform_app proc_mtktz:dir search;
allow nvram_daemon proc_lk_env:file { read write ioctl open };
allow mtkrildmd2 proc_lk_env:file rw_file_perms;
allow mtkrild proc_lk_env:file rw_file_perms;
allow mnld proc_lk_env:file rw_file_perms;
allow meta_tst proc_lk_env:file { read write ioctl open };
allow mediaserver proc_thermal:file { write getattr open };
allow mediaserver proc_thermal:file { read write open };
allow mediaserver proc_thermal:dir search;
allow mediaserver proc_secmem:file { read write open };
allow mediaserver proc_secmem:file ioctl;
allow mediaserver proc_mtktz:file { read write open };
allow mediaserver proc_mtktz:dir search;
allow mediaserver proc_mtkcooler:file { read write open };
allow mediaserver proc_mtkcooler:dir search;
allow kernel proc_thermal:dir search;
allow ipod proc_lk_env:file { open read write };
allow icusbd proc_icusb:file { read write open };
allow icusbd proc_icusb:dir search; 
allow guiext-server proc_secmem:file { read write open };
allow factory proc_mrdump_rst:file w_file_perms;
allow em_svr proc_thermal:file { read getattr open write };
allow em_svr proc_thermal:dir search;
allow em_svr proc_slogger:file { read getattr open write };
allow em_svr proc_mtktz:file { read getattr open write };
allow em_svr proc_mtktz:dir search;
allow em_svr proc_mtkcooler:file { read getattr open write };
allow em_svr proc_mtkcooler:dir search;
allow drmserver proc_secmem:file { read write ioctl open };
allow debuggerd proc_slogger:file { write read open };
allow debuggerd proc_secmem:file r_file_perms;
allow debuggerd proc_lk_env:file { read write ioctl open };
allow ccci_mdinit proc_lk_env:file rw_file_perms;
allow bootanim proc_secmem:file { read open };
allow boot_logo_updater proc_lk_env:file rw_file_perms;
allow bluetooth proc_secmem:file { read open };
allow atcp proc_lk_env:file { open read write ioctl };
allow atcp proc_lk_env:file rw_file_perms;