allow xlog property_socket:sock_file write;
allow wmt_loader property_socket:sock_file write;
allow volte_imsm_md property_socket:sock_file write;
allow teei_daemon property_socket:sock_file { read write };
allow statusd property_socket:sock_file write;
allow sn property_socket:sock_file write;
allow rilproxy property_socket:sock_file write;
allow resize property_socket:sock_file write;
allow program_binary property_socket:sock_file write;
allow pq property_socket:sock_file write;
allow pppd_via property_socket:sock_file write;
allow pppd_dt property_socket:sock_file write;
allow ppp property_socket:sock_file write;
allow permission_check property_socket:sock_file write;
allow osi property_socket:sock_file write;
allow nvram_daemon property_socket:sock_file write;
allow nvram_agent_binder property_socket:sock_file write;
allow netdiag property_socket:sock_file write;
allow muxreport property_socket:sock_file write;
allow mtkmal property_socket:sock_file write;
allow mtk_6620_launcher property_socket:sock_file write;
allow mtkFlpDaemon property_socket:sock_file rw_file_perms;
allow mobile_log_d property_socket:sock_file write;
allow mobicore property_socket:sock_file { create getattr open read write append ioctl lock link unlink };
allow mnld property_socket:sock_file rw_file_perms;
allow meta_tst property_socket:sock_file write;
allow mdlogger property_socket:sock_file write;
allow md_monitor property_socket:sock_file write;
allow md_ctrl property_socket:sock_file write;
allow mbimd property_socket:sock_file write;
allow kpoc_charger property_socket:sock_file write;
allow ipsec property_socket:sock_file write;
allow ipod property_socket:sock_file write;
allow init_thh_service property_socket:sock_file { read write };
allow init property_socket:unix_stream_socket connectto;
allow init property_socket:sock_file write;
allow hotknot_native property_socket:sock_file { write read };
allow gsm0710muxdmd2 property_socket:sock_file write;
allow gsm0710muxd property_socket:sock_file write;
allow ged_srv property_socket:sock_file write;
allow gas_srv           property_socket:sock_file           write;
allow fingerprintd property_socket:sock_file { write };
allow factory property_socket:sock_file write;
allow epdg_wod property_socket:sock_file write;
allow emdlogger property_socket:sock_file write;
allow eemcs_mdinit property_socket:sock_file write;
allow drmserver property_socket:sock_file write;
allow dm_agent_binder property_socket:sock_file write;
allow dhcp6c property_socket:sock_file write;
allow debuggerd property_socket:sock_file write;
allow cmddumper property_socket:sock_file { write read };
allow cameraserver property_socket:sock_file { write };
allow bootanim property_socket:sock_file write;
allow boot_logo_updater property_socket:sock_file write;
allow autokd property_socket:sock_file write;
allow audioserver property_socket:sock_file { write };
allow atcp property_socket:sock_file write;
allow atcid property_socket:sock_file write;
allow MPED property_socket:sock_file rw_file_perms;
