type protect_s_device, dev_type;
type protect_s_data_file, file_type, data_file_type;
type protect_f_device, dev_type;
type protect_f_data_file, file_type, data_file_type;
allow vold protect_s_data_file:dir { read getattr open ioctl };
allow vold protect_f_data_file:dir { read getattr open ioctl };
allow untrusted_app protect_s_data_file:dir getattr;
allow untrusted_app protect_f_data_file:dir getattr;
allow toolbox protect_s_data_file:file { read getattr open ioctl };
allow toolbox protect_s_data_file:dir { read getattr open search ioctl };
allow toolbox protect_f_data_file:file { read getattr open ioctl };
allow toolbox protect_f_data_file:dir { read getattr open search ioctl };
allow system_server protect_s_data_file:dir r_dir_perms;
allow permission_check protect_s_data_file:file { getattr setattr };
allow permission_check protect_s_data_file:dir { read getattr open setattr search };
allow permission_check protect_f_data_file:file { getattr setattr };
allow permission_check protect_f_data_file:dir { read getattr open setattr search };
allow eemcs_mdinit protect_s_data_file:file create_file_perms;
allow eemcs_mdinit protect_s_data_file:dir rw_dir_perms;
allow eemcs_mdinit protect_f_data_file:file create_file_perms;
allow eemcs_mdinit protect_f_data_file:dir rw_dir_perms;
allow eemcs_fsd protect_s_data_file:file create_file_perms;
allow eemcs_fsd protect_s_data_file:dir create_dir_perms;
allow eemcs_fsd protect_f_data_file:file create_file_perms;
allow eemcs_fsd protect_f_data_file:dir create_dir_perms;
allow ccci_mdinit protect_s_data_file:file create_file_perms;
allow ccci_mdinit protect_s_data_file:dir rw_dir_perms;
allow ccci_mdinit protect_f_data_file:file create_file_perms;
allow ccci_mdinit protect_f_data_file:dir rw_dir_perms;
allow ccci_fsd protect_s_data_file:file create_file_perms;
allow ccci_fsd protect_s_data_file:dir create_dir_perms;
allow ccci_fsd protect_f_data_file:file create_file_perms;
allow ccci_fsd protect_f_data_file:dir create_dir_perms;
