auditallow viarild system_radio_prop:property_service set;
auditallow viarild net_radio_prop:property_service set;
auditallow statusd system_radio_prop:property_service set;
auditallow statusd net_radio_prop:property_service set;
auditallow ril-3gddaemon system_radio_prop:property_service set;
auditallow ril-3gddaemon net_radio_prop:property_service set;
auditallow mtkrildmd2 system_radio_prop:property_service set;
auditallow mtkrildmd2 net_radio_prop:property_service set;
auditallow mtkrild system_radio_prop:property_service set;
auditallow mtkrild net_radio_prop:property_service set;
auditallow atcp system_radio_prop:property_service set;
auditallow atcp net_radio_prop:property_service set;
allow zpppd_gprs system_radio_prop:property_service set;
allow zpppd_gprs radio_prop:property_service set;
allow zpppd_gprs net_radio_prop:property_service set;
allow vtservice radio_service:service_manager find;
allow viarild system_radio_prop:property_service set;
allow viarild radio_prop:property_service set;
allow viarild net_radio_prop:property_service set;
allow usbdongled radio_prop:property_service set;
allow statusd system_radio_prop:property_service set;
allow statusd radio_prop:property_service set;
allow statusd net_radio_prop:property_service set;
allow smart_audio radio_prop:property_service set;
allow rilproxy radio_prop:property_service set;
allow ril-3gddaemon system_radio_prop:property_service set;
allow ril-3gddaemon radio_prop:property_service set;
allow ril-3gddaemon net_radio_prop:property_service set;
allow pppd_via net_radio_prop:property_service set;
allow pppd_dt net_radio_prop:property_service set;
allow ppp net_radio_prop:property_service set;
allow mtkrildmd2 system_radio_prop:property_service set;
allow mtkrildmd2 radio_prop:property_service set;
allow mtkrildmd2 net_radio_prop:property_service set;
allow mtkrild system_radio_prop:property_service set;
allow mtkrild radio_prop:property_service set;
allow mtkrild net_radio_prop:property_service set;
allow mtkmal radio_prop:property_service set;
allow gsm0710muxdmd2 radio_prop:property_service set;
allow gsm0710muxd radio_prop:property_service set;
allow emdlogger system_radio_prop:property_service set;
allow ccci_mdinit radio_prop:property_service set;
allow atcp system_radio_prop:property_service set;
allow atcp radio_prop:property_service set;
allow atcp net_radio_prop:property_service set;