unix_socket_connect(radio, volte_imsa1, volte_imcb)
unix_socket_connect(radio, rild_vsim_md2, mtkrild)
unix_socket_connect(radio, rild_vsim, mtkrild)
unix_socket_connect(radio, rild_ims, mtkrild)
unix_socket_connect(radio, rild-dongle, ril-3gddaemon)
unix_socket_connect(radio, agpsd, mtk_agpsd)
allow vtservice tmpfs:lnk_file read;
allow vtservice system_server:binder call;
allow vtservice surfaceflinger:fd use;
allow vtservice soc_vt_tcv_socket:sock_file write;
allow vtservice soc_vt_svc_socket:sock_file write;
allow vtservice self:capability dac_override;
allow vtservice rild_oem_socket:sock_file write;
allow vtservice radio:binder call;
allow vtservice platform_app:binder call;
allow vtservice fuse:file getattr;
allow vtservice fuse:file create;
allow vtservice fuse:dir write;
allow vtservice fuse:dir create;
allow vtservice fuse:dir add_name;
allow radio zygote:unix_stream_socket { getopt getattr };
allow radio vtservice_service:service_manager find;
allow radio vtservice:binder transfer;
allow radio vtservice:binder call;
allow radio viarild:unix_stream_socket connectto;
allow radio ttyGS_device:chr_file { open read write ioctl };
allow radio system_prop:property_service set;
allow radio system_app_data_file:dir search;
allow radio sysfs_keypad_file:file { open write };
allow radio sysfs_keypad_file:dir { open write };
allow radio surfaceflinger:fifo_file { read write };
allow radio stpbt_device:chr_file { read write open };
allow radio stpant_device:chr_file { read write open };
allow radio statusd:unix_stream_socket connectto;
allow radio sdcard_internal:file { read write getattr open create };
allow radio sdcard_internal:dir { write create add_name };
allow radio rilproxy_atci_socket:sock_file write;
allow radio rilproxy:unix_stream_socket connectto;
allow radio rild_via_socket:sock_file write;
allow radio rild_md2_socket:sock_file write;
allow radio rild_mal_socket:sock_file write;
allow radio rild_mal_md2_socket:sock_file write;
allow radio rild_mal_at_socket:sock_file write;
allow radio rild_mal_at_md2_socket:sock_file write;
allow radio rild_imsm_socket:sock_file write;
allow radio rild_atci_socket:sock_file write;
allow radio rild_atci_md2_socket:sock_file write;
allow radio rild_atci_c2k_socket:sock_file write;
allow radio rild4_socket:sock_file write;
allow radio rild3_socket:sock_file write;
allow radio rild2_socket:sock_file write;
allow radio program_binary_service:service_manager find;
allow radio proc_mtktz:dir search;
allow radio proc_mtkcooler:dir search;
allow radio ppl_agent_service:service_manager find;
allow radio persist_service_atci_prop:property_service set;
allow radio persist_ril_prop:property_service set;
allow radio nfc_socket:sock_file { create write unlink setattr };
allow radio nfc_socket:dir { write add_name remove_name search };
allow radio nfc_service:service_manager find;
allow radio mtkrildmd2:unix_stream_socket connectto;
allow radio mtkrild:unix_stream_socket connectto;
allow radio mtkmal:unix_stream_socket connectto;
allow radio mtk_wfc_prop:property_service set;
allow radio mtk_vt_prop:property_service set;
allow radio mtk_volte_prop:property_service set;
allow radio mtk_em_pdn_prop:property_service set;
allow radio mtk_em_ims_simulate_prop:property_service set;
allow radio mtk_em_auto_answer_prop:property_service set;
allow radio mtgpio_device:chr_file { read ioctl open };
allow radio mt_otg_test_device:chr_file { read write ioctl open };
allow radio mt6605_device:chr_file { read write ioctl open getattr };
allow radio mnld_prop:file { read open getattr };
allow radio mediatek_prop:property_service set;
allow radio media_wfd_prop:property_service set;
allow radio media_rw_data_file:dir search;
allow radio md_monitor:unix_stream_socket connectto;
allow radio md_monitor:file { read open getattr };
allow radio md_monitor:dir search;
allow radio mal_mfi_socket:sock_file write;
allow radio guiext-server:binder { transfer call };
allow radio em_svr:unix_stream_socket connectto;
allow radio dm_agent_binder_service:service_manager find;
allow radio dm_agent_binder:binder call;
allow radio debugfs:file { getattr };
allow radio debug_prop:property_service set;
allow radio custom_file:file { read open getattr };
allow radio custom_file:dir { search getattr open read };
allow radio custom_file:dir getattr;
allow radio ctl_mbimd_prop:property_service set;
allow radio ctl_atcid-daemon-u_prop:property_service set;
allow radio ctl_atci_service_prop:property_service set;
allow radio cdma_prop:property_service set;
allow radio bt_int_adp_socket:sock_file write;
allow radio block_device:dir search;
allow radio als_ps_device:chr_file { read open ioctl };

