type rda_exec, exec_type, file_type;
type rda, domain;
userdebug_or_eng(`
allow rda su_exec:file r_file_perms;
')
typeattribute rda mlstrustedsubject;
init_daemon_domain(rda)
allow rda system_file:file rx_file_perms;
allow rda shell_exec:file rx_file_perms;
allow rda rootfs:file rx_file_perms;
allow rda mobicore_user_device:chr_file rw_file_perms;
allow rda mobicore_data_file:file r_file_perms;
allow rda mobicore_data_file:dir search;
allow rda mobicore:unix_stream_socket connectto;
allow rda domain:file { read open };
allow rda domain:dir { getattr search };