userdebug_or_eng(`
dontaudit recovery self:capability sys_ptrace;
allow recovery vfat:file ~ { execute entrypoint };
allow recovery vfat:dir *;
allow recovery userdata_block_device:blk_file *;
allow recovery ueventd:lnk_file *;
allow recovery ueventd:file ~ { execute_no_trans execute entrypoint };
allow recovery ueventd:dir *;
allow recovery uboot_device:chr_file *;
allow recovery tee_part_device:chr_file *;
allow recovery system_block_device:blk_file *;
allow recovery self:capability sys_resource;
allow recovery self:capability sys_boot;
allow recovery seccfg_device:chr_file { read open };
allow recovery sec_ro_device:chr_file { read open };
allow recovery sec_device:chr_file { read ioctl open };
allow recovery rootfs:dir *;
allow recovery resize_exec:file { execute execute_no_trans };
allow recovery recovery_device:chr_file *;
allow recovery proc_sysrq:file { write open };
allow recovery preloader_device:chr_file *;
allow recovery pmt_device:chr_file *;
allow recovery mtd_device:dir search;
allow recovery mtd_device:chr_file { read write open ioctl getattr };
allow recovery mobicore_data_file:dir { read open };
allow recovery misc_sd_device:chr_file *;
allow recovery misc_device:chr_file *;
allow recovery md_ctrl:file { read getattr open };
allow recovery logo_device:chr_file *;
allow recovery kernel:lnk_file *;
allow recovery kernel:file ~ { execute_no_trans execute entrypoint };
allow recovery kernel:dir *;
allow recovery init:lnk_file *;
allow recovery init:file ~ { execute_no_trans execute entrypoint };
allow recovery init:dir *;
allow recovery healthd:lnk_file *;
allow recovery healthd:file ~ { execute_no_trans execute entrypoint };
allow recovery healthd:dir *;
allow recovery fsck_exec:file { execute execute_no_trans };
allow recovery bootimg_device:chr_file *;
allow recovery block_device:dir *;
allow recovery block_device:blk_file *;
allow recovery app_data_file:dir { read open };
')
  allow recovery su:lnk_file *;
  allow recovery su:dir *;

