type resize, domain;
type resize_exec, exec_type, file_type;
init_daemon_domain(resize)
allow resize userdata_block_device:blk_file rw_file_perms;
allow resize system_prop:property_service set;
allow resize resize_exec:file execute_no_trans;
allow resize resize:capability sys_admin;
allow resize property_socket:sock_file write;
allow resize labeledfs:filesystem unmount;
allow resize kmsg_device:chr_file { write open };
allow resize init:unix_stream_socket connectto;
allow resize devpts:chr_file { read write open getattr ioctl };
allow resize block_device:dir search;