type resize_exec, exec_type, file_type;
allow vold resize_exec:file rx_file_perms;
allow resize resize_exec:file execute_no_trans;
allow recovery resize_exec:file { execute execute_no_trans };
