userdebug_or_eng(`
type resmon_exec, exec_type, file_type;
type resmon, domain;
init_daemon_domain(resmon)
binder_use(resmon)
allow resmon fuse:file { read write create open };
allow resmon fuse:dir { write search add_name };
')
  permissive resmon;
  allow untrusted_app resmon:fd use;
  allow resmon zygote_exec:file execute_no_trans;
  allow resmon system_file:file execute_no_trans;
  allow resmon shell_exec:file execute_no_trans;
  # Purpose : allow resmon to execute shell commands
  # Purpose : allow Binder IPC for dumpsys windows display
  # Operation : Migration
  # Date : 2014/10/20
  # Date : 2014/09/10

