type resmon_exec, exec_type, file_type;
type resmon, domain;
userdebug_or_eng(`
permissive resmon;
init_daemon_domain(resmon)
binder_use(resmon)
allow resmon fuse:dir { write search add_name };
allow resmon fuse:file { read write create open };
allow resmon shell_exec:file execute_no_trans;
allow resmon system_file:file execute_no_trans;
allow resmon zygote_exec:file execute_no_trans;
allow untrusted_app resmon:fd use;
')