type ril_mux_report_case_prop, property_type;
type ril_active_md_prop, property_type;
type ril_cdma_report_prop, property_type;
type ril_volte_stack_rcsuaproxy_prop, property_type;
allow viarild ril_mux_report_case_prop:property_service set;
allow viarild ril_cdma_report_prop:property_service set;
allow viarild ril_active_md_prop:property_service set;
allow untrusted_app ril_volte_stack_rcsuaproxy_prop:file { open read getattr };
allow untrusted_app ril_mux_report_case_prop:file { open read getattr };
allow untrusted_app ril_cdma_report_prop:file { open read getattr };
allow untrusted_app ril_active_md_prop:file { open read getattr };
allow system_app ril_volte_stack_rcsuaproxy_prop:property_service set;
allow statusd ril_mux_report_case_prop:property_service set;
allow statusd ril_cdma_report_prop:property_service set;
allow rilproxy ril_mux_report_case_prop:property_service set;
allow rilproxy ril_cdma_report_prop:property_service set;
allow muxreport ril_mux_report_case_prop:property_service set;
allow muxreport ril_mux_report_case_prop:file { read open getattr };
allow mtkrildmd2 ril_mux_report_case_prop:property_service set;
allow mtkrildmd2 ril_active_md_prop:property_service set;
allow mtkrild ril_mux_report_case_prop:property_service set;
allow mtkrild ril_mux_report_case_prop:file { read open getattr };
allow mtkrild ril_cdma_report_prop:property_service set;
allow mtkrild ril_active_md_prop:property_service set;
allow mtkrild ril_active_md_prop:file { read open };
allow mtkmal ril_mux_report_case_prop:property_service set;
allow gsm0710muxdmd2 ril_mux_report_case_prop:property_service set;
allow gsm0710muxd ril_mux_report_case_prop:property_service set;
allow eemcs_mdinit ril_mux_report_case_prop:property_service set;
allow eemcs_mdinit ril_active_md_prop:property_service set;
allow ccci_mdinit ril_mux_report_case_prop:property_service set;
allow ccci_mdinit ril_active_md_prop:property_service set;
allow atcp ril_mux_report_case_prop:property_service set;
allow atcp ril_cdma_report_prop:property_service set;
allow atcp ril_active_md_prop:property_service set;