type rilproxy_exec, exec_type, file_type;
type rilproxy_atci_socket, file_type;
allow radio rilproxy_atci_socket:sock_file write;
allow atcp rilproxy_atci_socket:sock_file write;
allow atcid rilproxy_atci_socket:sock_file write;
