wakelock_use(rilproxy)
type rilproxy_exec, exec_type, file_type;
type rilproxy, domain;
net_domain(rilproxy)
init_daemon_domain(rilproxy)
allow rilproxy viarild:unix_stream_socket connectto;
allow rilproxy statusd:unix_stream_socket connectto;
allow rilproxy socket_device:sock_file write;
allow rilproxy self:capability setuid;
allow rilproxy rild_via_socket:sock_file write;
allow rilproxy ril_mux_report_case_prop:property_service set;
allow rilproxy ril_cdma_report_prop:property_service set;
allow rilproxy radio_prop:property_service set;
allow rilproxy property_socket:sock_file write;
allow rilproxy proc:file { read open getattr };
allow rilproxy mtkrild:unix_stream_socket connectto;
allow rilproxy mtk_agpsd:unix_stream_socket connectto;
allow rilproxy init:unix_stream_socket connectto;
allow rilproxy cdma_prop:property_service set;

