type sbchk, domain;
type sbchk_exec, exec_type, file_type;
init_daemon_domain(sbchk)
allow sbchk secro_block_device:blk_file rw_file_perms;
allow sbchk seccfg_device:chr_file rw_file_perms;
allow sbchk seccfg_block_device:blk_file rw_file_perms;
allow sbchk sec_ro_device:chr_file { open read };
allow sbchk sec_device:chr_file { read ioctl open };
allow sbchk preloader_device:chr_file { read open };
allow sbchk preloader_block_device:blk_file rw_file_perms;
allow sbchk mtd_device:dir search;
allow sbchk mtd_device:chr_file rw_file_perms;
allow sbchk mmcblk0_block_device:blk_file rw_file_perms;
allow sbchk misc_sd_device:chr_file { read open };
allow sbchk block_device:dir search;