typeattribute sdcardd mlstrustedsubject;
allow sdcardd vold_socket:sock_file write;
allow sdcardd vold:unix_stream_socket connectto;
allow sdcardd vdc_exec:file { read execute open execute_no_trans };
allow sdcardd untrusted_app:fd use;
allow sdcardd tmpfs:lnk_file create;
allow sdcardd tmpfs:filesystem unmount;
allow sdcardd tmpfs:dir { write add_name mounton };
allow sdcardd proc_lk_env:file { read write ioctl open };
allow sdcardd platform_app_tmpfs:file write;
allow sdcardd platform_app:fd use;
allow sdcardd para_block_device:blk_file rw_file_perms;
allow sdcardd mmcblk0_block_device:blk_file { read write open };
allow sdcardd misc_device:chr_file { read write open };
allow sdcardd devpts:chr_file { read write getattr open ioctl };
allow sdcardd block_device:dir search;