type sf_rtt_file, file_type, data_file_type;
type sf_bqdump_data_file, file_type, data_file_type;
file_type_auto_trans(surfaceflinger, system_data_file, sf_bqdump_data_file);
allow system_server sf_rtt_file:file r_file_perms;
allow system_server sf_rtt_file:dir relabelto;
allow system_server sf_rtt_file:dir r_dir_perms;
allow surfaceflinger sf_rtt_file:file { open read write create rename append getattr unlink };
allow surfaceflinger sf_rtt_file:dir { relabelto getattr };
allow surfaceflinger sf_rtt_file:dir { create search write add_name remove_name };
allow surfaceflinger sf_bqdump_data_file:dir { search add_name };
allow surfaceflinger sf_bqdump_data_file: { dir file { relabelto open create read write getattr };
allow debuggerd sf_rtt_file:file r_file_perms;
allow debuggerd sf_rtt_file:dir search;
allow debuggerd sf_bqdump_data_file:file { read getattr unlink open };
allow debuggerd sf_bqdump_data_file:dir { read write open remove_name search };
allow adbd sf_rtt_file:dir getattr;
