type slpd_exec, exec_type, file_type;
type slpd, domain;
net_domain(slpd)
init_daemon_domain(slpd)
allow slpd rootfs:lnk_file { getattr };
allow slpd mtk_agpsd:unix_dgram_socket sendto;
allow slpd mtkFlpDaemon:unix_dgram_socket sendto;