type stp_dump_data_file, file_type, data_file_type;
type stp_dump3_exec, exec_type, file_type;
file_type_auto_trans(stp_dump3,system_data_file,stp_dump_data_file)
allow stp_dump3 stp_dump_data_file:sock_file { write create unlink setattr };
allow stp_dump3 stp_dump_data_file:file { open read write create setattr getattr append unlink rename };
allow stp_dump3 stp_dump_data_file:dir { open read write create setattr getattr add_name remove_name search };
allow stp_dump3 stp_dump_data_file:dir { add_name setattr };
allow stp_dump3 stp_dump_data_file:dir rmdir;
allow shell stp_dump3_exec:file rx_file_perms;
