userdebug_or_eng(`
file_type_auto_trans(surfaceflinger, system_data_file, sf_bqdump_data_file);
binder_call(surfaceflinger, ipod)
binder_call(surfaceflinger, debuggerd)
allow surfaceflinger untrusted_app_tmpfs:file write;
allow surfaceflinger system_file:file x_file_perms;
allow surfaceflinger sw_sync_device:chr_file { read write open ioctl };
allow surfaceflinger shell_exec:file { read execute open execute_no_trans };
allow surfaceflinger sf_rtt_file:file { open read write create rename append getattr unlink };
allow surfaceflinger sf_rtt_file:dir { relabelto getattr };
allow surfaceflinger sf_rtt_file:dir { create search write add_name remove_name };
allow surfaceflinger sf_bqdump_data_file:dir { search add_name };
allow surfaceflinger sf_bqdump_data_file: { dir file { relabelto open create read write getattr };
allow surfaceflinger self:netlink_socket { read bind create };
allow surfaceflinger self:capability { net_admin sys_nice };
allow surfaceflinger self:capability dac_override;
allow surfaceflinger qemu_pipe_device:chr_file rw_file_perms;
allow surfaceflinger proc_secmem:file { read write open ioctl };
allow surfaceflinger proc:file write;
allow surfaceflinger pq_service:service_manager { find };
allow surfaceflinger platform_app_tmpfs:file write;
allow surfaceflinger mtk_perf_service:service_manager find;
allow surfaceflinger mobicore_user_device:chr_file { read write ioctl open };
allow surfaceflinger mobicore_data_file:file { read getattr open };
allow surfaceflinger mobicore_data_file:dir search;
allow surfaceflinger mobicore:unix_stream_socket connectto;
allow surfaceflinger isolated_app_tmpfs:file write;
allow surfaceflinger ipod:dir search;
allow surfaceflinger em_svr:file { read getattr open };
allow surfaceflinger em_svr:dir search;
allow surfaceflinger debug_prop:property_service set;
allow surfaceflinger custom_file:dir search;
allow surfaceflinger bootanim:file { read getattr open };
allow surfaceflinger bootanim:dir search;
allow surfaceflinger anr_data_file:file { rename getattr unlink open };
allow surfaceflinger anr_data_file:file { create write };
allow surfaceflinger anr_data_file:dir { write search create add_name };
allow surfaceflinger anr_data_file:dir { relabelfrom read remove_name getattr };
allow surfaceflinger aee_exp_data_file:file write;
allow surfaceflinger aee_dumpsys_data_file:file write;
allow surfaceflinger RT_Monitor_device:chr_file { read ioctl open };
allow surfaceflinger MTK_SMI_device:chr_file { read write open ioctl };
')

