unix_socket_connect(system_server, wod_sim, epdg_wod)
unix_socket_connect(system_server, wod_action, epdg_wod)
binder_call(system_server, ipod)
allow system_server zygote:unix_stream_socket { getopt getattr };
allow system_server zygote:binder impersonate;
allow system_server wpa_wlan0_socket:sock_file write;
allow system_server wmt_prop:file { read open getattr };
allow system_server wmtWifi_device:chr_file { write open };
allow system_server wifi_data_file:sock_file { unlink };
allow system_server wide_dhcpv6_data_file:file { read getattr open };
allow system_server wide_dhcpv6_data_file:dir search;
allow system_server unlabeled:file unlink;
allow system_server touch_device:chr_file { read ioctl open };
allow system_server touch_device:chr_file write;
allow system_server teei_fp_device:chr_file rw_file_perms;
allow system_server teei_client_device:chr_file r_file_perms;
allow system_server sw_sync_device:chr_file { read write getattr open ioctl };
allow system_server surfaceflinger:process { setsched getsched };
allow system_server surfaceflinger:fifo_file rw_file_perms;
allow system_server stpant_device:chr_file { read open write ioctl };
allow system_server shf_device:chr_file rw_file_perms;
allow system_server sf_rtt_file:file r_file_perms;
allow system_server sf_rtt_file:dir relabelto;
allow system_server sf_rtt_file:dir r_dir_perms;
allow system_server save_locale_prop:property_service set;
allow system_server resmon:fifo_file write;
allow system_server resmon:fd use;
allow system_server qemu_pipe_device:chr_file rw_file_perms;
allow system_server protect_s_data_file:dir r_dir_perms;
allow system_server proc_secmem:file { rw_file_perms };
allow system_server proc_net:file write;
allow system_server proc:file write;
allow system_server nvram_agent_service:service_manager find;
allow system_server mtk_rrc_device:chr_file { read write ioctl open };
allow system_server mtk_mwblacklist_service:service_manager find;
allow system_server mtk_agpsd:unix_stream_socket connectto;
allow system_server mtkFlpDaemon_data_file:sock_file rw_file_perms;
allow system_server mtkFlpDaemon_data_file:sock_file create_file_perms;
allow system_server mtkFlpDaemon_data_file:dir rw_dir_perms;
allow system_server mtkFlpDaemon_data_file:dir create_file_perms;
allow system_server mtkFlpDaemon:unix_stream_socket { getopt getattr connectto };
allow system_server mtkFlpDaemon:unix_dgram_socket sendto;
allow system_server mobicore_data_file:dir r_dir_perms;
allow system_server mnld_data_file:sock_file rw_file_perms;
allow system_server mnld_data_file:sock_file create_file_perms;
allow system_server mnld_data_file:dir rw_dir_perms;
allow system_server mnld_data_file:dir create_file_perms;
allow system_server mnld:unix_dgram_socket sendto;
allow system_server media_wfd_prop:property_service set;
allow system_server m_batch_misc_device:chr_file { read ioctl open };
allow system_server irtx_device:chr_file { read write ioctl open };
allow system_server hwmsensor_device:chr_file { read ioctl open };
allow system_server hostapd:unix_dgram_socket sendto;
allow system_server guiext-server_service:service_manager find;
allow system_server guiext-server:binder { transfer call };
allow system_server graphics_device:chr_file { read ioctl open };
allow system_server gps_data_file:file create_file_perms;
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server goodixfingerprintd_device:chr_file rw_file_perms;
allow system_server exec_type:file r_file_perms;
allow system_server event_input_device:dir { read write open remove_name search getattr };
allow system_server event_input_device:chr_file { read write getattr open ioctl };
allow system_server dontpanic_data_file:dir search;
allow system_server dm_agent_binder_service:service_manager find;
allow system_server dhcp_data_file:file { read open unlink getattr };
allow system_server dhcp_data_file:dir { read write remove_name search getattr };
allow system_server dhcp6c:process signal;
allow system_server dex2oat_exec:file r_file_perms;
allow system_server devmap_device:chr_file r_file_perms;
allow system_server debuggerd:fd use;
allow system_server debuggerd:binder call;
allow system_server debugfs:dir { read open };
allow system_server custom_file:file { read open getattr };
allow system_server custom_file:dir { read search open getattr };
allow system_server ctl_ipod_prop:property_service set;
allow system_server ctl_bootanim_prop:property_service set;
allow system_server atci_service:unix_dgram_socket sendto;
allow system_server atci_service:dir write;
allow system_server atci_service:dir add_name;
allow system_server anr_data_file:file relabelto;
allow system_server anr_data_file:dir relabelfrom;
allow system_server agpsd_data_file:dir search;
allow system_server aee_exp_data_file:file write;
allow system_server aee_dumpsys_data_file:file write;
allow system_server aee_core_data_file:dir r_dir_perms;
allow system_server aal_service:service_manager find;
allow system_server RT_Monitor_device:chr_file { read ioctl open };
allow system_server MPED_data_file:sock_file rw_file_perms;
allow system_server MPED_data_file:sock_file create_file_perms;
allow system_server MPED_data_file:dir rw_dir_perms;
allow system_server MPED_data_file:dir create_file_perms;
allow system_server MPED:unix_stream_socket { getopt getattr };
allow system_server MPED:unix_dgram_socket sendto;
allow system_server MPED:binder { transfer call };
allow hostapd system_server:unix_dgram_socket sendto;

