type teei_rpmb_device, dev_type;
type teei_data_file, file_type, data_file_type;
allow teei_daemon teei_rpmb_device:chr_file rw_file_perms;
allow teei_daemon teei_data_file:file rw_file_perms;
allow teei_daemon teei_data_file:file create_file_perms;
allow teei_daemon teei_data_file:dir create_dir_perms;
allow init_thh_service teei_data_file:file rw_file_perms;
allow init_thh_service teei_data_file:file create_file_perms;
allow init_thh_service teei_data_file:dir create_dir_perms;
