allow toolbox toolbox_tmpfs:file { create open setattr };
allow toolbox tmpfs:dir { write rmdir setattr remove_name create add_name };
allow toolbox self:capability { fowner fsetid };
allow toolbox self:capability { dac_read_search sys_admin dac_override };
allow toolbox self:capability { chown };
allow toolbox protect_s_data_file:file { read getattr open ioctl };
allow toolbox protect_s_data_file:dir { read getattr open search ioctl };
allow toolbox protect_f_data_file:file { read getattr open ioctl };
allow toolbox protect_f_data_file:dir { read getattr open search ioctl };
allow toolbox protect2_block_device:blk_file rw_file_perms;
allow toolbox protect1_block_device:blk_file rw_file_perms;
allow toolbox labeledfs:filesystem unmount;
allow toolbox frp_block_device:blk_file setattr;
allow toolbox device:dir { write add_name };
allow toolbox device:chr_file { create };