type ttyGS_device, dev_type;
allow radio ttyGS_device:chr_file { open read write ioctl };
allow mnld ttyGS_device:chr_file { read write };
allow meta_tst ttyGS_device:chr_file { read write ioctl open };
allow mdlogger ttyGS_device:chr_file { read write open ioctl };
allow factory ttyGS_device:chr_file { read write open };
allow factory ttyGS_device:chr_file { read write open ioctl };
allow emdlogger ttyGS_device:chr_file { read write open ioctl };
allow atcp ttyGS_device:chr_file { read write open ioctl };
allow atcp ttyGS_device:chr_file { read write ioctl open };
allow atcp ttyGS_device:chr_file { open read write ioctl };
allow atcid ttyGS_device:chr_file { read write ioctl open };
