type tunman, domain;
type tunman_exec, exec_type, file_type;
type tunman_socket, file_type, mlstrustedobject;
type tunman_prop, property_type;
unix_socket_connect(tunman, property, init)
unix_socket_connect(tunman, netd, netd)
unix_socket_connect(netdomain, tunman, tunman)
net_domain(tunman)
init_daemon_domain(tunman)
allow untrusted_app tunman_socket:sock_file { read write };
allow tunman tunman_socket:sock_file { create open read write lock unlink };
allow tunman tunman_socket:dir { search write add_name remove_name };
allow tunman tunman_prop:property_service set;
allow tunman tun_device:chr_file rw_file_perms;
allow tunman system_data_file:file { open read };
allow tunman shell_data_file:file { create read write lock };
allow tunman self:tun_socket create_socket_perms;
allow tunman self:capability { net_admin net_raw dac_override };
allow tunman qtaguid_proc:file { open write };
allow tunman appdomain:fd use;
allow tunman appdomain: { tcp_socket udp_socket { read write };
allow appdomain tunman:fd use;