allow ueventd wmtWifi_device:chr_file { create setattr read write ioctl open relabelto };
allow ueventd sysfs_scp:file { write open };
allow ueventd sysfs_boot_mode_file:file { relabelto getattr };
allow ueventd sysfs:file setattr;
allow ueventd platform_app_tmpfs:file write;
allow ueventd platform_app:fd use;
allow ueventd fm_device:chr_file { relabelto };
allow ueventd device:chr_file { relabelfrom };

