allow uncrypt userdata_block_device:blk_file w_file_perms;
allow uncrypt system_data_file:file { open read };
allow uncrypt system_app_data_file:file { read getattr open };
allow uncrypt system_app_data_file:dir { getattr search };
allow uncrypt para_block_device:blk_file { write open };
allow uncrypt misc_device:chr_file *;