type Vcodec_device, dev_type;
allow vtservice Vcodec_device:chr_file { read write ioctl open };
allow viarild Vcodec_device:chr_file { read write open };
allow platform_app Vcodec_device:chr_file { read write ioctl open };
allow mtkrildmd2 Vcodec_device:chr_file { read write open };
allow mtkrild Vcodec_device:chr_file { read write open };
allow mediaserver Vcodec_device:chr_file { read write ioctl open };
allow mediacodec Vcodec_device:chr_file { read write open ioctl };
allow debuggerd Vcodec_device:chr_file r_file_perms;
allow atcp Vcodec_device:chr_file { read write open };
