allow vdc vold_prop:property_service set;
allow vdc tmpfs:chr_file { read write getattr ioctl };
allow vdc fon_image_data_file:file { read write open };
allow vdc fon_image_data_file:file create;
allow vdc fon_image_data_file:dir { search write add_name };
allow vdc dumpstate:file read;