type viarild_exec, exec_type, file_type;
type viarild, domain;
wakelock_use(viarild)
unix_socket_connect(viarild, property, init)
net_domain(viarild)
init_daemon_domain(viarild)
auditallow viarild system_radio_prop:property_service set;
auditallow viarild net_radio_prop:property_service set;
allow viarild tty_device:chr_file rw_file_perms;
allow viarild system_radio_prop:property_service set;
allow viarild system_file:file x_file_perms;
allow viarild system_data_file:file r_file_perms;
allow viarild system_data_file:dir r_dir_perms;
allow viarild sysfs_vcorefs_pwrctrl:file { open write };
allow viarild shell_exec:file rx_file_perms;
allow viarild self:socket create_socket_perms;
allow viarild self:netlink_socket create_socket_perms;
allow viarild self:netlink_route_socket nlmsg_write;
allow viarild self:netlink_kobject_uevent_socket create_socket_perms;
allow viarild self:capability { setuid net_admin net_raw };
allow viarild self:capability dac_override;
allow viarild sdcard_type:dir r_dir_perms;
allow viarild ril_mux_report_case_prop:property_service set;
allow viarild ril_cdma_report_prop:property_service set;
allow viarild ril_active_md_prop:property_service set;
allow viarild radio_prop:property_service set;
allow viarild radio_device:chr_file rw_file_perms;
allow viarild radio_device:blk_file r_file_perms;
allow viarild radio_data_file:file create_file_perms;
allow viarild radio_data_file:dir rw_dir_perms;
allow viarild proc_lk_env:file { read ioctl open };
allow viarild proc:file { open read };
allow viarild proc:file write;
allow viarild persist_ril_prop:property_service set;
allow viarild net_radio_prop:property_service set;
allow viarild mtd_device:dir search;
allow viarild misc_device:chr_file { read write open };
allow viarild kernel:system module_request;
allow viarild gps_device:chr_file rw_file_perms;
allow viarild efs_file:file create_file_perms;
allow viarild efs_file:dir create_dir_perms;
allow viarild devpts:chr_file { read write open };
allow viarild devpts:chr_file ioctl;
allow viarild devmap_device:chr_file { read ioctl open };
allow viarild cgroup:dir create_dir_perms;
allow viarild cdma_prop:property_service set;
allow viarild ccci_device:chr_file { read write ioctl open };
allow viarild bluetooth_efs_file:file r_file_perms;
allow viarild bluetooth_efs_file:dir r_dir_perms;
allow viarild alarm_device:chr_file rw_file_perms;
allow viarild Vcodec_device:chr_file { read write open };
allow statusd system_prop:property_service set;
allow statusd domain:dir search;