type volte_imcb, domain;
type volte_imcb_exec, exec_type, file_type;
type volte_imsa1_socket, file_type;
type volte_imsvt1_socket, file_type;
unix_socket_connect(volte_imcb, volte_ua, volte_ua)
init_daemon_domain(volte_imcb)
allow volte_imcb volte_ua:unix_stream_socket connectto;
allow volte_imcb volte_imcb_socket:sock_file write;
allow volte_imcb socket_device:sock_file write;
allow volte_imcb self:tcp_socket { read getattr };
allow volte_imcb self:tcp_socket { bind create setopt accept listen };
allow volte_imcb self:tcp_socket write;
allow volte_imcb port:tcp_socket name_bind;
allow volte_imcb node:tcp_socket node_bind;
allow volte_imcb netd:unix_stream_socket connectto;
allow volte_imcb fwmarkd_socket:sock_file write;
allow volte_imcb ccci_device:chr_file { read write open };
allow ccci_mdinit volte_prop:property_service set;