type wfca, domain;
type wfca_exec, exec_type, file_type;
init_daemon_domain(wfca)
allow wfca volte_ua:udp_socket { read write setopt getattr getopt shutdown };
allow wfca volte_ua:fd use;
allow wfca system_file:file execute_no_trans;
allow wfca sysfs_wake_lock:file { read write open };
allow wfca socket_device:sock_file { create write unlink };
allow wfca socket_device:dir { write remove_name add_name };
allow wfca self:udp_socket { create write bind read setopt ioctl getattr shutdown };
allow wfca self:capability { setuid setgid };
allow wfca port:udp_socket name_bind;
allow wfca node:udp_socket node_bind;
allow wfca netd:unix_stream_socket connectto;
allow wfca fwmarkd_socket:sock_file write;
allow wfca ccci_device:chr_file { read write open ioctl };