allow wpa wifi_data_file:sock_file { create setattr unlink };
allow wpa rild_oem_socket:sock_file write;
allow wpa rild_oem_md2_socket:sock_file write;
allow wpa platform_app_tmpfs:file write;
allow wpa platform_app:fd use;
allow wpa mtkrild:unix_stream_socket connectto;

