dontaudit zygote untrusted_app:process ptrace;
allow zygote untrusted_app_tmpfs:file write;
allow zygote untrusted_app:fd use;
allow zygote servicemanager:binder call;
allow zygote radio_tmpfs:file create_file_perms;
allow zygote radio:fd use;
allow zygote proc:file write;
allow zygote platform_app_tmpfs:file write;
allow zygote platform_app:fd use;
allow zygote persist_ril_prop:file { read open getattr };
allow zygote isolated_app_tmpfs:file write;
allow zygote isolated_app:fd use;
allow zygote devmap_device:chr_file { read ioctl open };
allow zygote custom_file:file create_file_perms;
allow zygote custom_file:dir rw_dir_perms;
allow zygote anr_data_file:file ~ { execute_no_trans execute entrypoint execmod };
allow zygote anr_data_file:dir *;

